<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>come eat header</title>
    <script src="/js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/common.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
	
	<script src="/js/header.js"></script>
</head>
<body>
    <header class="header-wrap">
        <div class="center-wrap">
            <div class="header-left">
                <a href="/">
                    <img src="/img/logo_w.png" alt="logo">
                </a>
            </div>
            <div class="header-center">
                <ul>
                    <li>
                        <a href="/location/aroundPlace">내주변맛집</a>
                    </li>
                    <li>
                        <a href="/location/list">지역별맛집</a>
                    </li>
                    <li>
                        <a href="#">이벤트</a>
                    </li>
                    <li>
                        <a href="/magazine/list">매거진</a>
                    </li>
                    <li>
                        <a href="/board/list?pageNum=1">커뮤니티</a>
                    </li>
                </ul>
            </div>
            <div class="header-right">
                <ul>
                    <li><a href="javascript:void(0)" id="search-btn"><span class="material-icons">search</span></a></li>
                    <!-- 로그아웃 상태일때 -->
                    <li th:if="${session.m == null}"><a href="/member/login"><span class="material-icons">login</span></a></li>
                    <li th:if="${session.m == null}"><a href="/member/joinFrm"><span class="material-icons">face</span></a></li>
                    <!-- 로그인 상태일때 -->
                    <li th:if="${session.m != null}"><a href="/member/logout"><span class="material-icons">logout</span></a></li>
                    <li th:if="${session.m != null && session.m.memberLevel == 1}"><a href="/"><span class="material-icons">face</span></a></li>
                    <li th:if="${session.m != null && session.m.memberLevel == 2}"><a href="/member/mypage"><span class="material-icons">face</span></a></li>
                </ul>
            </div>
        </div>
        <div class="header-search-box">
                <div>
                    <form action="/location/search?pageNo=1">
                    	<div class="search-input">
	                        <input type="text" name="search">
	                        <button type="submit"><span class="material-icons">search</span></button>
                    	</div>
                        <p>추천검색어</p>
                        <ul>
                            <li><button type="submit">#인기맛집</button></li>
                            <li><button type="submit">#서울맛집</button></li>
                            <li><button type="submit">#신규맛집</button></li>
                            <li><button type="submit">#부산맛집</button></li>
                            <li><button type="submit">#전남맛집</button></li>
                        </ul>
                    </form>
                </div>
        </div>
    </header>
    <script>
  	//검색창토글
    $("#search-btn").on("click",function(){
                $(".header-search-box").slideToggle();
                if($(this).children().text()=="close"){
                    $(this).children().text("search");
	                $(this).children().removeClass("hover");
                }else{                	
	                $(this).children().text("close");
	                $(this).children().addClass("hover");
                }
    });
    </script>
</body>
</html>