<!DOCTYPE html>
<html lang="ko">
	<script src="/js/jquery-3.6.0.js"></script>
	<script src="/js/header.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>come eat header</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/common.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>
<body>
    <header class="header-wrap">
        <div class="center-wrap">
            <div class="header-left">
                <a href="/">
                    <img src="/img/logo_w.png" alt="logo">
                </a>
            </div>
            <div class="header-center">
                <ul>
                    <li>
                        <a href="/review/detailRestaurant">내주변맛집</a>
                    </li>
                    <li>
                        <a href="#">지역별맛집</a>
                    </li>
                    <li>
                        <a href="#">이벤트</a>
                    </li>
                    <li>
                        <a href="/magazine/list">매거진</a>
                    </li>
                    <li>
                        <a href="/board/list?pageNum=1">커뮤니티</a>
                    </li>
                </ul>
            </div>
            <div class="header-right">
                <ul>
                    <li><a href="#"><span class="material-icons">search</span></a></li>
                    <li><a href="#"><span class="material-icons">login</span></a></li>
                    <li><a href="#"><span class="material-icons">face</span></a></li>
                </ul>
            </div>
        </div>
        <div class="header-search-box">
                <div>
                    <form action="/">
                        <input type="text" name="search">
                        <button type="submit"><span class="material-icons">search</span></button>
                        <p>추천검색어</p>
                        <ul>
                            <li>#인기맛집</li>
                            <li>#제주맛집</li>
                            <li>#부산맛집</li>
                            <li>#강원도맛집</li>
                            <li>#신규맛집</li>
                        </ul>
                    </form>
                </div>
        </div>
    </header>
</body>
</html>