<!DOCTYPE html>
<html　xmlns:th="http://www.thymeleaf.org">
<head>
<style>


.swal-modal{
	border-radius: 5px;
}
.swal-button 
{
	background-color: #ddd;
	font-size: 18px;
	fonr-weight: 400;
}
.swal-button:not([disabled]):hover{
	background-color: #ff3700ff;
}
.swal-footer{
	text-align: center;
}
.swal-modal .swal-icon--info{
	border-color: #ffdc71;
}
.swal-modal .swal-icon--info:after, .swal-modal  .swal-icon--info:before{
	background-color: #ffdc71;
}
</style>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<script src="/js/sweetalert.min.js"></script>
	<script th:inline="javascript">
		const title = [[${title}]];
		const msg = [[${msg}]];
		const icon = [[${icon}]];
		const loc = [[${loc}]];
		swal({
			title : title,
			text : msg,
			icon : icon
		}).then(function(){
			location.href = loc;
		});
	</script>

</body>
</html>