<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/location.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="content-wrap">
        <div class="content-title">[ <span th:text="${title}" class="content-title" style="color:#ff3700ff;font-weight:500;display:inline"></span> ] 검색결과</div>
        <!-- 리스트출력 -->
        <div th:if="${list != null}">
	        <div class="location-content-wrap"> 
	            <div class="location-content" th:each="location : ${list}">
	                <a th:href="@{/review/detailRestaurant(loNo=${location.loNo})}">
	                    <div class="location-img-box" th:style="'background-image:url(' + ${location.loThumb} + ');'">
	                    </div>
	                    <div class="location-content-info">
	                        <p th:text="${location.loTitle}"></p>
	                        <p th:text="${location.loInfo}"></p>
	                        <div class="star">
	                            <span class="material-icons-round">grade</span>
	                            <span th:text="${location.starRate}"></span>
	                        </div>
	                    </div>
	                </a>
	            </div>
	        </div>
	        <div class="board-navi" th:utext="${navi}"></div>
        </div>
        <div th:if="${list.isEmpty()}" class="content-title box">
        	일치하는 검색 결과가 없습니다.
        </div>
    </div>
	<th:block th:include="common/footer"></th:block>
</body>
</html>