<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>내주변 식당 찾기</title>
<link rel="stylesheet" href="/css/aroundPlace.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="content-wrap">
		<div class="place-wrapper">
			<div class="aroundPlace-title">
				<form action="#" method="get">
					<div class="search-box">
						<span>현재 보고있는 맛집 지역은</span> 
						<input type="text" name="searchPlace" id="searchPlace" placeholder="검색">
						<button type="submit" name="searchBtn" id="searchBtn">
							<span class="material-icons">search</span>
						</button>
						<span>입니다</span>
					</div>
				</form>
			</div>
			<div id="map" style="width:100%; height:400px"></div>
			<div class="aroundPlace-content">
				<ul>
					<li class="aroundPlace-list">
						<a href="/review/detailRestaurant">
							<div class="imgBox"></div>
							<div class="img-content">
								<span class="material-icons-round">grade</span> 
								<span>평점</span>
								<h2>맛집 이름</h2>
								<div>위치</div>
								<div>메뉴메뉴메뉴</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e951a9675edffd5bbc4faec7164c3441&libraries=services"></script>
	<script>
		var infowindow = new kakao.maps.InfoWindow({zIndex:1});
		
		var mapContainer = $("#map"), // 지도를 표시할 div 
		mapOption = {
			center : new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
			level : 3
		// 지도의 확대 레벨
		};

		// 지도를 생성합니다    
		var map = new kakao.maps.Map(mapContainer, mapOption);
	</script>

</body>
</html>