<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상세페이지</title>
<link rel="stylesheet" href="/css/detailRestaurant.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e951a9675edffd5bbc4faec7164c3441&libraries=services"></script>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="content-wrap">
		<div class="detail-wrap">
			<div class="restaurant_title_wrap">
				<div class="title_header">
					<h1>테스트</h1>
					<span class="material-icons-round">grade</span>
					<span>4.0</span>
				</div>
				<div class="review_icons">
					<div class="icon1">
						<a href="/review/reviewWriteFrm"> 
							<div class="reviewBtn">
                                <span class="material-icons">edit_document</span>
                            </div>
                            <div>
                                <span>리뷰쓰기</span>
                            </div>
						</a>
					</div>
					<div class="icon2">
						<div class="reviewBtn">
                            <span class="material-icons">favorite_border</span>
                        </div>
                        <div>
                            <span>저장</span>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<div class="restaurant_content_wrap">
			<div class="restaurant_content">
				<div class="restaurant_info">
					<table class="info-tbl">
						<tr>
							<th>주소</th>
							<td></td>
						</tr>
						<tr>
							<th>전화번호</th>
							<td></td>
						</tr>
						<tr>
							<th>음식 종류</th>
							<td></td>
						</tr>
						<tr>
							<th>영업시간</th>
							<td></td>
						</tr>
						<tr>
							<th>소개</th>
							<td></td>
						</tr>
					</table>
				</div>
				<div id="map" class="detailRestaurant_map">지도</div>
			</div>
		</div>
		<div class="reservationBtn">
			<a href="/">
				<button type="button" class="btn-o" name="reserveBtn" id="reserveBtn">예약하기</button>		
			</a>
		</div>
		<div class="restaurant_reviewList">
			<div class="reviewList_title">
				<h2>리뷰</h2>
			</div>
			<div class="reviewList_content_wrapper">
				<div class="reviewList_content">
					<ul class="reviewList_content_check">
						<li>
							<span>username</span>
						</li>
						<li>
							<p class="reviewList_content_link">
								<span>리뷰 단 날짜</span>
								<a href="#">수정</a>
								<a href="#">삭제</a>
							</p>
							<p class="review_detail_content">
								후기후기후기후기후기후기후기후기후기후기
							</p>
						</li>
						<li>
							<div class="testImg"></div>
						</li>
					</ul>
					<ul class="reviewList_content_check">
						<li>
							<span>userName</span>
						</li>
						<li>
							<p class="reviewList_content_link">
								<span>리뷰 단 날짜</span>
								<a href="#">수정</a>
								<a href="#">삭제</a>
							</p>
							<p class="review_detail_content">
								후기후기후기후기후기후기후기후기후기후기
							</p>
						</li>
						<li>
							<div class="testImg"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>
	<script>
		var infowindow = new kakao.maps.InfoWindow({zIndex:1});
		
		var mapContainer = document.getElementById('map'), 
		mapOption = {
			center : new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
			level : 3
		// 지도의 확대 레벨
		};
	
		// 지도를 생성합니다    
		var map = new kakao.maps.Map(mapContainer, mapOption);
		var ps = new kakao.maps.services.Places(); 

	</script>
</body>
</html>