<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상세페이지</title>
<link rel="stylesheet" href="/css/detailRestaurant.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e951a9675edffd5bbc4faec7164c3441&libraries=services"></script>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="content-wrap">
		<div class="detail-wrap">
			<div class="restaurant_title_wrap">
				<div class="title_header">
					<h1 th:text="${list.loTitle}"></h1>
					<span class="material-icons-round">grade</span>
					<span>4.0</span>
					<span style=display:none; th:text="${list.loLat}"></span>
					<span style=display:none; th:text="${list.loLng}"></span>
				</div>
				<div class="review_icons">
					<div class="icon1" th:if="${session.m != null}">
					 <!--  -->
						<a th:href="@{/review/reviewWriteFrm(loNo=${list.loNo})}">
							<div class="reviewBtn">
                                <span class="material-icons">edit_document</span>
                            </div>
                            <div>
                                <span>리뷰쓰기</span>
                            </div>
						</a>
					</div>
					<div class="icon2">
						<div class="reviewBtn">
                            <span class="material-icons">favorite_border</span>
                        </div>
                        <div>
                            <span>저장</span>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<div class="restaurant_content_wrap">
			<div class="restaurant_content">
				<div class="restaurant_info">
					<table class="info-tbl">
						<tr>
							<th>주소</th>
							<td th:text="${list.loAddr}"></td>
						</tr>
						<tr>
							<th>전화번호</th>
							<td th:text="${list.loTel}"></td>
						</tr>
						<tr>
							<th>음식 종류</th>
							<td th:text="${list.loMenu}"></td>
						</tr>
						<tr>
							<th>영업시간</th>
							<td th:text="${list.loTime}"></td>
						</tr>
						<tr>
							<th>소개</th>
							<td th:text="${list.loInfo}"></td>
						</tr>
					</table>
				</div>
				<div id="map" class="detailRestaurant_map">지도</div>
			</div>
		</div>
		<div class="reservationBtn">
				<a href="booking/bookingFrm" class="btn" th:if="${session.m != null && session.m.memberLevel == 1}">예약하기</a>
				<!-- 현재 관리자만 예약되게 되있음 -->
			
		</div>
		<div class="restaurant_reviewList">
			<div class="reviewList_title">
				<h2>리뷰</h2>
			</div>
			<div class="reviewList_content_wrapper">
				<div class="reviewList_content">
					<th:block th:each="rl : ${reviewList}">
						<ul class="reviewList_content_check">
							<li>
								<span th:text="${rl.reviewWriter}"></span>
							</li>
							<li>
								<p class="reviewList_content_link">
									<span th:text="${rl.reviewDate}"></span>
									<th:block th:if="${session.m != null && rl.reviewWriter == session.m.memberId}">
										<a th:href="@{/review/reviewUpdateFrm(reviewNo=${rl.reviewNo})}">수정</a>
										<a href="#">삭제</a>
									</th:block>
								</p>
								<p class="review_detail_content" th:text="${rl.reviewContent}"></p>
							</li>
							<li>
								<img th:src="'/review/'+${rl.reviewFilepath}" style="width:90%">
							</li>
							<li>
								<span id="span" class="material-icons" th:if="${rl.reviewGrade==5}">sentiment_very_satisfied</span>
								<span id="span" class="material-icons" th:if="${rl.reviewGrade==3}">sentiment_satisfied_alt</span>
								<span id="span" class="material-icons" th:if="${rl.reviewGrade==1}">sentiment_very_dissatisfied</span>
							</li>
						</ul>
					</th:block>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>
	<script>
			
			const lat = $(".title_header").children().eq(3);
			const latText = lat.text();
			//console.log(latText);
			const lng = $(".title_header").children().eq(4);
			const lngText = lng.text();
			//console.log(lngText);
	
			var infowindow = new kakao.maps.InfoWindow({zIndex:1});
			
			var mapContainer = document.getElementById('map'), 
			mapOption = {
				center : new kakao.maps.LatLng(latText,lngText), // 지도의 중심좌표
				level : 2
			// 지도의 확대 레벨
			};
		
			// 지도를 생성합니다    
			var map = new kakao.maps.Map(mapContainer, mapOption);
			var ps = new kakao.maps.services.Places(); 
			
			// 마커가 표시될 위치입니다 
			var markerPosition  = new kakao.maps.LatLng(latText,lngText); 
	
			// 마커를 생성합니다
			var marker = new kakao.maps.Marker({
			    position: markerPosition
			});
	
			// 마커가 지도 위에 표시되도록 설정합니다
			marker.setMap(map);

	</script>
</body>
</html>