<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상세페이지</title>

<style>
.flatpickr-month {
	background-color: #ff3700ff !important;
}

.flatpickr-weekdays {
	background-color: #ff3700ff !important;
}

.flatpickr-weekday {
	background-color: #ff3700ff !important;
}

.flatpickr-day.selected {
	background-color: #ff3700ff !important;
}

.swal-modal {
	border-radius: 5px;
}

.swal-button {
	background-color: #ddd;
	font-size: 18px;
	fonr-weight: 400;
}

.swal-button:not([disabled]):hover {
	background-color: #ff3700ff;
}

.swal-footer {
	text-align: center;
}
</style>
<link rel="stylesheet" href="/css/detailRestaurant.css">
<link rel="stylesheet" href="/css/bookingFrm.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e951a9675edffd5bbc4faec7164c3441&libraries=services"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_orange.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="content-wrap">
		<div class="detail-wrap">
			<div class="restaurant_title_wrap">
				<div class="title_header">
					<h1 th:text="${list.loTitle}" class="detail-val"></h1>
					<div class="star">
						<span class="material-icons-round">grade</span> 
						<span th:text="${list.starRate}"></span> 
					</div>
					<span class="loLat" style="display: none;" th:text="${list.loLat}"></span> 
					<span class="loLng" style="display: none;" th:text="${list.loLng}"></span>
				</div>
				<div class="review_icons">
					<div class="icon1" th:if="${session.m != null}">
						<!--  -->
						
						<button class="review-btn" th:href="@{/review/reviewWriteFrm(loNo=${list.loNo})}">
						
							<div class="reviewBtn">
								<span class="material-icons">edit_document</span>
							</div>
							<div>
								<span>리뷰쓰기</span>
							</div>
						</button>
					</div>
					<div class="icon2">
						<button class="save" th:value="${list.loNo}">
	                		<span class="material-icons done">favorite_border</span>
	               		</button>
						<div>
							<span>저장</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="restaurant_content_wrap">
			<div class="restaurant_content">
				<div class="restaurant_info">
					<table class="info-tbl">
						<tr>
							<th>주소</th>
							<td th:text="${list.loAddr}"></td>
						</tr>
						<tr>
							<th>전화번호</th>
							<td th:text="${list.loTel}"></td>
						</tr>
						<tr>
							<th>음식 종류</th>
							<td th:text="${list.loMenu}"></td>
						</tr>
						<tr>
							<th>영업시간</th>
							<td th:text="${list.loTime}"></td>
						</tr>
						<tr>
							<th>소개</th>
							<td th:text="${list.loInfo}"></td>
						</tr>
					</table>
				</div>
				<div id="map" class="detailRestaurant_map">지도</div>
			</div>
		</div>
		<!-- 예약 -->
		<div class="reservationBtn">
			
			<button th:if="${session.m != null}" class="modal-open-btn" style="cursor: pointer;">예약하기</button>
			

		</div>

		<div class="restaurant_reviewList">
			<div class="reviewList_title">
				<span>리뷰</span>
			</div>
			<div class="reviewList_content_wrapper">
				<div class="reviewList_content">
					
				</div>
				<div class=reviewList_moreBtn>
					<button type="button" id="moreBtn" value="1" th:totalCount="${totalCount}" currentCount="0">
						<span class="material-icons">expand_more</span>
						더보기
						 <span class="material-icons">expand_more</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>
	
	
			<div class="modal" style="z-index: 100;">
				<div class="modal_body">
					<div class="content-title">예약하기</div>
					<form action="/booking/book" method="post" id="booking-form-date">
						<div class=booking-form>
							<div class="date-select-button-up" 
								style="padding-left: 20px; padding-right: 20px; cursor: pointer;">
								<span class="material-icons"
									style="float: left; font-size: 24px;">calendar_month</span> <span
									style="float: left; font-size: 24px;">날짜 선택</span> <span
									class="material-icons" style="float: right; font-size: 24px;"
									id="date-icon-updown1">arrow_circle_up</span>
							</div>
							<div class="booking-cal">
								<input class="form-control" type="datetime-local"
									id="bookingDate" name="bookingDate" required>
							</div>
						</div>

						<div class=booking-form>
							<div class="time-select-button-up"
								style="padding-left: 20px; padding-right: 20px; cursor: pointer;" >
								<span class="material-icons"
									style="float: left; font-size: 24px;">schedule</span> <span
									style="float: left; font-size: 24px;">시간 선택</span> <span
									class="material-icons" style="float: right; font-size: 24px;"
									id="date-icon-updown2">arrow_circle_up</span>
							</div>
							<div class="booking-time">
								<label> <input type="radio" name="bookingTime" class="booking-time"
									id="bookingTime1" value="1"> <span>오후 1시</span>
								</label> <label> <input type="radio" name="bookingTime" class="booking-time"
									id="bookingTime2" value="2"> <span>오후 2시</span>
								</label> <label> <input type="radio" name="bookingTime" class="booking-time"
									id="bookingTime3" value="3"> <span>오후 3시</span>
								</label> <label> <input type="radio" name="bookingTime" class="booking-time"
									id="bookingTime4" value="4"> <span>오후 4시</span>
								</label> <label> <input type="radio" name="bookingTime" class="booking-time"
									id="bookingTime5" value="5"> <span>오후 5시</span>
								</label> <label> <input type="radio" name="bookingTime" class="booking-time"
									id="bookingTime6" value="6"> <span>오후 6시</span>
								</label>
							</div>
						</div>

						
						<input type="hidden" name="loNo" id="loNo" th:value="${list.loNo}">
						<input type="hidden" name="loTitle" id="loTitle" th:value="${list.loTitle}">


						<div class=booking-form style="overflow: hidden;">
							<div class="totalnum-select-button-up"
								style="padding-left: 20px; padding-right: 20px; cursor: pointer;">
								<span class="material-icons"
									style="float: left; font-size: 24px;">people</span> <span
									style="float: left; font-size: 24px;">인원 선택</span> <span
									class="material-icons" style="float: right; font-size: 24px;"
									id="date-icon-updown3">arrow_circle_up</span>
							</div>
							<div class="num-select">
								<div style="float: left; padding-left: 20px;" class="count-div">
									<span style="font-size: 16px; line-height: 70px">방문하는 인원
										선택</span>
								</div>
								<div style="float: right; padding-right: 20px;"
									class="count-div">
									<button type="button" class="count_btn" id="minus">
										<span class="material-icons">remove_circle_outline</span>
									</button>
									<input type="text" value="1" name="bookingTotalnum"
										class="bookingTotalnum" style="text-align: center;"
										required>
									<button type="button" class="count_btn" id="plus">
										<span class="material-icons">add_circle_outline</span>
									</button>
								</div>
							</div>
						</div>

						<div class="booking-form">
							
								<fieldset>
									<legend>
										<span class="material-icons" style="color: red; font-size: 24px; height:40px; line-height:40px;">error_outline</span>
										<span style="color: red; font-size: 24px;">알립니다</span>
									</legend>
									<p>1. 당일취소 및 노쇼는 레스토랑뿐만 아니라 다른 고객님께도 피해가 될 수 있으므로 신중하게 예약 부탁드립니다 :)</p>
									<p>2. 예약금을 결제 완료시 예약이 확정됩니다.</p>
									<p>3. 예약 1일전 취소시 예약금은 환불되지 않습니다.</p>
								</fieldset>	
								
							
						</div>
						<div class="booking-form">
							<div style="overflow: hidden;">
								<span style="float: left; font-size: 24px;">예약자 정보</span>
							</div>
							<div>
								<div class="booking-info">
									<label for="memberName">예약자</label> 
									<input type="text" id="memberName" name="memberName" th:if="${session.m != null}" th:value="${session.m.memberName}"  placeholder>
									<!-- th:value="${session.m.memberName}" -->
								</div>
								<div class="booking-info">
									<label for="memberPhone">연락처</label> 
									<input type="text" id="memberPhone" name="memberPhone" th:if="${session.m != null}" th:value="${session.m.memberPhone}" placeholder>
									<!-- th:value="${session.m.memberPhone}" -->
								</div>
								<div class="booking-info">
									<label for="memberEmail">이메일</label> <input type="text" id="memberEmail" name="memberEmail" th:if="${session.m != null}" th:value="${session.m.memberEmail}" placeholder>
									<!-- th:value="${session.m.memberEmail}" -->
								</div>
								<input type="hidden" name=memberNo th:if="${session.m != null}"
									th:value="${session.m.memberNo}" id="memberNo">
							</div>
						</div>
						<div class="booking-form">
							<div style="overflow: hidden;">
								<span style="float: left; font-size: 16px; height: 70px;">예약금</span>
								<div class="price-form">
									<input type="text" id="price" value="50" disabled> 
									<span style="font-size: 16px;">원</span>
								</div>
							</div>
						</div>
						<button type="button" id="payBtn" class="btn"
							style="width: 300px; height: 50px;">결제 및 예약하기</button>
					</form>
				</div>
			</div>
	
	
	<script src="/js/bookingFrm.js"></script>
	<script src="/js/sweetalert.min.js"></script>
	<script th:inline="javascript">
		
		//리뷰막기
		/*
		$(".review-btn").on("click",function(){
			var Now = new Date(); // 현재 날짜 및 시간
			const memberNo = $("#memberNo").val(); 
			const loNo = [[${list.loNo}]];
			let title = "잠깐만!";
			let msg = "예약자만 후기작성이 가능합니다!";
			let icon = "warning";
			$.ajax({
				
				type : "get",
				url : "/booking/bookingTime",
				data : {memberNo : memberNo, loNo : loNo},
				success : function(data) {

					var bookDay = new Date(data[0].bookingDate);
					if(Now > bookDay){
						location.href= "/review/reviewWriteFrm?loNo="+loNo;
						
					}else{
						title = "잠깐만요!";
						msg = "이용하고오신후에 작성이 가능합니다!";
						icon = "warning";
						swal({
							title : title,
							text : msg,
							icon : icon
						})
					}
				},
				error :
					swal({
						title : title,
						text : msg,
						icon : icon
				})
				
			})
			
		})
		*/     
		

		//리뷰 리스트 불러오기
		$("#moreBtn").on("click",function(){
			//const memberId = null;
			const start = $(this).val();
			const loNo = [[${list.loNo}]];
			const amount = 3;
			const end = Number(start)+amount-1;
			//console.log("test");
			$.ajax({
				url : "/review/reviewList",
				data : {start:start,end:end,loNo:loNo},
				type : "get",
				success : function(data){
					for(let i=0;i<data.length;i++){
						const review = data[i];
						const ul = $("<ul>");
						ul.addClass("reviewList_content_check");
						
						const li1 = $("<li>");
						const span1 = $("<span>");
						span1.text(review.reviewWriter);
						li1.append(span1);
						
						const li2 = $("<li>");
						const p1 = $("<p>");
						p1.addClass("reviewList_content_link");
						const span2 = $("<span>");
						span2.text(review.reviewDate);
						
	
						const div = $("<div>");
						div.css("display","inline-block").css("padding-left","10px").addClass("changeA");
						
						
						[# th:if="${session.m != null}"]
						const memberId = [[${session.m.memberId}]];
						if(memberId == review.reviewWriter){
							const a1 = $("<a>");
							a1.attr("href","/review/reviewUpdateFrm?reviewNo="+review.reviewNo);
							a1.text("수정").css("margin-right","10px");
							const a2 = $("<a>");
							a2.attr("href","javascript:void(0);");
							a2.on("click",function(){
								if(confirm("리뷰를 삭제하시겠습니까?")){
									location.href="/review/deleteReview?reviewNo="+review.reviewNo+"&loNo="+review.loNo;
								}
							})
							//a2.attr("href","/review/deleteReview?reviewNo="+review.reviewNo+"&loNo="+review.loNo);
							a2.text("삭제");
							a2.addClass("deleteReview");
							div.append(a1).append(a2);
						}
						[/]
						
						const p2 = $("<p>");
						p2.addClass("review_detail_content").text(review.reviewContent);
						
						
						li2.append(p1).append(span2).append(div).append(p2);
						
						const li3 = $("<li>");
						const img = $("<img>");
						if(review.reviewFilepath != null){
							img.attr("src","/review/"+review.reviewFilepath);
							img.css("width","90%");
						}
						li3.append(img);
						
						const li4 = $("<li>");
						const span3 = $("<span>");
						span3.attr("id","span").addClass("material-icons");
						const span4 = $("<span>");
						span4.attr("id","span").addClass("material-icons");
						const span5 = $("<span>");
						span5.attr("id","span").addClass("material-icons");
						if(review.reviewGrade == 5){
							span3.text("sentiment_very_satisfied");
						}else if(review.reviewGrade == 3){
							span4.text("sentiment_satisfied_alt");
						}else if(review.reviewGrade == 1){
							span5.text("sentiment_very_dissatisfied");
						}
						
						li4.append(span3).append(span4).append(span5);
						
						ul.append(li1).append(li2).append(li3).append(li4);
						
						$(".reviewList_content").append(ul);
					}
					
					const currentValue = Number($("#moreBtn").val());
					$("#moreBtn").val(currentValue+amount);
					
					const currentCount = Number($("#moreBtn").attr("currentCount"));
					const changeCount = currentCount+data.length;
					$("#moreBtn").attr("currentCount",changeCount);
					
					const totalCount = Number($("#moreBtn").attr("totalCount"));
					if(totalCount == changeCount){
						$("#moreBtn").remove();
					}
				}
			});
		});
		
		$("#moreBtn").click();
	
		//리뷰 삭제할때 알람 주기
		$(".deleteReview").on("click",function(){
			return confirm("삭제하시겠습니까?");
		});
	
	
		//페이지 로드되면 저장내역 불러오기
		window.onload = function() {
			$(".save").each(
					function(i, item) {
						const loNo = $(".save").eq(i).val();
						$.ajax({
							url : "/location/savePlaceSelect",
							type : "get",
							data : {
								loNo : loNo
							},
							success : function(data) {
								if (data == 0) {
									$(".save").eq(i).children("span").text(
											"favorite_border");
								} else {
									$(".save").eq(i).children("span").text(
											"favorite");
								}
							}
						});
					});
				}

		//저장버튼
		$(".save").on("click",function(){
			const loNo = $(this).val();
			const save = $(this);
			$.ajax({
				url : "/location/savePlace",
				type : "get",
				data : {loNo:loNo},
				success : function(data){
					let title = "로그인 필요";
					let msg = "로그인이 필요한 기능입니다";
					let icon = "warning";
					
					if(data == 1){							
						$(save).children("span").text("favorite");
						title = "저장완료";
						msg = "저장이 완료되었습니다";
						icon = "success";
					}else if(data == 2){
						$(save).children("span").text("favorite_border");
						title = "저장취소";
						msg = "저장이 취소되었습니다";
						icon = "success";
					}
					//모달띄우기
					swal({
						title : title,
						text : msg,
						icon : icon
					})
				}
			});
		});
		
		//지도
		//const lat = $(".loLat");
		const latText = $(".loLat").text();
		//console.log(latText);
		//const lng = $(".title_header").children().eq(4);
		const lngText = $(".loLng").text();
		//console.log(lngText);

		var infowindow = new kakao.maps.InfoWindow({
			zIndex : 1
		});

		var mapContainer = document.getElementById('map'), mapOption = {
			center : new kakao.maps.LatLng(latText, lngText), // 지도의 중심좌표
			level : 2
		// 지도의 확대 레벨
		};

		// 지도를 생성합니다    
		var map = new kakao.maps.Map(mapContainer, mapOption);
		var ps = new kakao.maps.services.Places();

		// 마커가 표시될 위치입니다 
		var markerPosition = new kakao.maps.LatLng(latText, lngText);

		// 마커를 생성합니다
		var marker = new kakao.maps.Marker({
			position : markerPosition
		});

		// 마커가 지도 위에 표시되도록 설정합니다
		marker.setMap(map);

		//예약스크립트

		//예약막기
		$("#bookingDate").on("change",function() {
							$("input[type=radio]").removeAttr("disabled");
							$("input[type=radio]").next().removeAttr("style");
							const day = $(this).val();
							const loTitle = $("#loTitle").val();
							const bookingTimeInput = [];

							$("input[type=radio]").each(function() {
								bookingTimeInput.push(this.value);
							});
							$.ajax({
										type : "GET",
										url : "/booking/bookinginfo",
										data : {
											bookingDate : day,
											loTitle : loTitle
										},
										dataType : "json",
										success : function(data) {
											for (let i = 0; i < data.length; i++) {
												const time1 = data[i].bookingTime;
												for (let j = 0; j < bookingTimeInput.length; j++) {
													if (bookingTimeInput[j] == data[i].bookingTime) {
														$("#bookingTime"+ (j + 1)+ "").attr("disabled",true);
														$("#bookingTime"+ (j + 1)+ "").css('background-color','#ccc');
														$("#bookingTime"+ (j + 1)+ "").next().css('background-color','#ccc');
														$("#bookingTime"+ (j + 1)+ "").next().css('color','#FFF');
													}
												}
											}
										}
									})
						})

		//슬라이드토글 아이콘
		$(".date-select-button-up").on("click",function() {
							$('.booking-cal').slideToggle();
							$('#date-icon-updown1').text(
							$('#date-icon-updown1').text() == 'arrow_circle_up' ? "arrow_circle_down" : "arrow_circle_up");
						});
		$(".time-select-button-up")
				.on("click",function() {
							$('.booking-time').slideToggle();
							$('#date-icon-updown2').text($('#date-icon-updown2').text() == 'arrow_circle_up' ? "arrow_circle_down": "arrow_circle_up");
						});
		$(".totalnum-select-button-up").on("click",function() {
							$('.num-select').slideToggle();
							$('#date-icon-updown3').text($('#date-icon-updown3').text() == 'arrow_circle_up' ? "arrow_circle_down" : "arrow_circle_up");
						});

		let count = 1;
		$("#plus").on("click", function() {
			if ($(".bookingTotalnum").val() < 5) {
				count += 1;
				$(".bookingTotalnum").val(count);
			} else {
				alert("최대인원입니다.")
			}
		})
		$("#minus").on("click", function() {
			if ($(".bookingTotalnum").val() == 1)
				alert("최소인원입니다")
			else {
				count -= 1;
				$(".bookingTotalnum").val(count);
			}
		});

		//결제버튼
		$("#payBtn").on(
				"click",
				function() {
					const price = $("#price").val();
					const d = new Date();
					const date = d.getFullYear() + "" + (d.getMonth() + 1) + ""
							+ d.getDate() + "" + d.getHours() + ""
							+ d.getMinutes() + "" + d.getSeconds();
					const buyerName = $("#memberName").val();
					const buyerPhone = $("#memberPhone").val();
					const buyerMail = $("#memberEmail").val();

					IMP.init("imp62057672");
					IMP.request_pay({
						pg : "html5_inicis",
						pay_method : "card",
						merchant_uid : "상품번호_" + date, //상점에서 관리하는 주문번호
						name : "comeeat!",
						amount : price, //결제금액 -> 정상적인 숫자가 들어가야함
						buyer_name : buyerName,
						buyer_tel : buyerPhone,
						buyer_email : buyerMail
					}, function(rsp) {
						if (rsp.success) {
							$("#booking-form-date").submit();
						} else {
							alert("결재실패");
						}
					});
				});

		//달력
		flatpickr.localize(flatpickr.l10ns.ko);

		const today = new Date().setHours(0, 0, 0, 0)

		config = {
			enableTime : false, // 시간 속성 사용 여부
			dateFormat : "Y-m-d", // 달력 입력 포맷
			altInput : true,
			altFormat : "m월 d일", // 보여지는 입력 포맷
			dateFormat : "Y-m-d", // 달력 입력 포맷
			local : 'ko', // 언어 설정
			minDate : today, // 최소 날짜 설정
			maxDate : new Date().fp_incr(6),
			/* 
			time_24hr: true, // 24시간 사용 여부 (false인 경우 오전, 오후로 설정됨)
			disable: [ // 해당 날짜 비활성화
			    function (date) {
			    // return true to disable
			    return (date.getDay() === 0 || date.getDay() === 7);
			}
			],
			 */
			/* 시간따로할예정
			minuteIncrement: 60, // 분 입력(스크롤 포함)의 단계를 조정한다.
			minTime: "09:00", // 최소 시간
			maxTime: "18:00", // 최대 시간
			defaultHour: "09", // 시간 기본값
			defaultMinute: "00", // 분 기본값
			 */
			inline : true,
			monthSelectorType : 'static',
		}

		flatpickr("input[type=datetime-local]", config);

		//모달끄기
		$(document).mouseup(function(e) {
			if ($(".modal").has(e.target).length === 0) {
				$(".modal").fadeOut(500);
			}
		});
	</script>
</body>
</html>