<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>event 게시판</title>
 <link rel="stylesheet" href="/css/eventList.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="content-wrap">
		<!-- totalCount: controller 에서 보내준 리턴값 --> 
		<div class="content-title">EVENT</div>
		<!-- 로그인 and 관리자만 글쓰기 -->
		<a th:if = "${session.m != null && session.m.memberLevel == 1}" href="/event/eventFrm" class="btn">글쓰기</a>
		<!-- 게시물 들어갈 공간 -->
		<div class="event-wrap">
			<!-- 
			<div class="event-item">
                <img class="event-img">
                <div class="event-info">
                    <p>이벤트기간</p>
                    <p>이벤트제목</p>
                    <p>이벤트소제목</p>
                </div>
                <div class="close">
                  	  종료된이벤트입니다
                </div>
            </div>
             -->
		</div>
		<!-- 
			toalCount : 게시물 총 숫자 
			currentCount : 현재 게시물을 몇개 봤는지
			value : 다음 더보기 할때 시작 번호
		 -->
		<button class="" id="moreBtn"
		 	th:totalCount="${totalCount}"
			currentCount = "0"
			value="1"
		>MORE</button>
	</div>
	<th:block th:include="common/footer"></th:block>
	
	<script>
		$("#moreBtn").on("click",function(){
			//추가로 가져올 게시물 시작 번호
			const start = $(this).val();
			//한번 더보기 누를때 추가로 가지고올 게시물 수
			const amount = 4;
			const end = Number(start)+amount-1;
			$.ajax({
				url : "/event/more",
				type : "post",
				data : {start:start, end:end},
				success : function(data){
					console.log(data);
					for(let i=0; i<data.length; i++) {
						
						const event = data[i];
						const div = $("<div>");
						div.addClass("posting-item");
						
						const imgDiv = $("<div>");
						imgDiv.addClass("posting-img");
						
						const img = $("<img>");
						img.attr("src","/event/"+event.filepath); //이미지 경로설정
						//<img src="파일경로">
						
						imgDiv.append(img);
						/*
						<div class="posting-img">
							<img src="파일경로">
						</div>
						*/
						
						const contentDiv = $("<div>");
						contentDiv.addClass("posting-content");
						
						const content = $("<p>");
						content.text(event.eventContent);
						//<p>글내용</p>
						
						contentDiv.append(content);
						/*
						<div class="posting-content">
							<p>글제목</p>
						</div>
						*/
						
						div.append(imgDiv).append(contentDiv);
						/*
						<div class="posting-item">
							<div class="posting-img">
								<img src="파일경로">
							</div>
							<div class="posting-content">
								<p>글제목</p>
							</div>
						</div>
						*/
						$(".event-wrap").append(div);
					}
					//새로읽어온 사진을 추가 완료한 시점
					//->더보기를 한번더 눌렀을때 읽어온 이후값을 조회하기 위한 준비작업
					const currentVal = Number($("#moreBtn").val());
					$("#moreBtn").val(currentVal+amount);
					//currentCount 변경
					const currentCount = Number($("#moreBtn").attr("currentCount"));
					const changeCount = currentCount+data.length;
					$("#moreBtn").attr("currentCount",changeCount);
					
					const totalCount = Number($("#moreBtn").attr("totalCount"));
					if(totalCount == changeCount) {
						$("#moreBtn").remove();
					}	
				}
			});
		});
		//화면 처음 들어왔을때 
		$("#moreBtn").click();
	</script>
	
</body>
</html>