<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>event 게시판</title>
<link rel="stylesheet" href="/css/eventList.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="content-wrap">
		<!-- totalCount: controller 에서 보내준 리턴값 --> 
		<div class="content-title">EVENT</div>
		<!-- 로그인 and 관리자만 글쓰기 -->
		<div class="a-wrap">
			<a th:if = "${session.m != null && session.m.memberLevel == 1}" href="/event/eventFrm" class="btn">글쓰기</a>
		</div>
		<!-- 게시물 들어갈 공간 -->
		<div class="event-wrap">

		</div>
		<!-- 
			toalCount : 게시물 총 숫자 
			currentCount : 현재 게시물을 몇개 봤는지
			value : 다음 더보기 할때 시작 번호
		 -->
		<div class="moreBtn-wrap">
		<button class="" id="moreBtn"
		 	th:totalCount="${totalCount}"
			currentCount = "0"
			value="1"
		>MORE</button>
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>
	
	<script>
		$("#moreBtn").on("click",function(){
			//추가로 가져올 게시물 시작 번호
			const start = $(this).val();
			//한번 더보기 누를때 추가로 가지고올 게시물 수
			const amount = 4;
			const end = Number(start)+amount-1;
			$.ajax({
				url : "/event/more",
				type : "post",
				data : {start:start, end:end},
				success : function(data){
					for(let i=0; i<data.list.length; i++) {
						
						const event = data.list[i];
						const level = data.level;
						
						const eventItemDiv = $("<div>");
						eventItemDiv.addClass("event-item");
						
						const img = $("<img>");
						img.addClass("event-img");
						img.attr("src","/event/"+event.filepath);
						
						const eventInfoDiv = $("<div>");
						eventInfoDiv.addClass("event-info");
						
						const dateP = $("<p>");
						dateP.text(event.eventDate);
						
						const titleP = $("<p>");
						titleP.text(event.eventTitle);
						
						const subtitleP = $("<p>");
						subtitleP.text(event.eventSubtitle);
						
						eventInfoDiv.append(dateP);
						eventInfoDiv.append(titleP);
						eventInfoDiv.append(subtitleP);
						
						const closeDiv = $("<div>");
						closeDiv.addClass("close");
						closeDiv.text("종료된 이벤트 입니다");
						
						const btn = $("<a>");
						btn.addClass("close-btn").addClass("open");
						btn.attr("href","/event/close?eventNo="+event.eventNo+"&close=0").text("이벤트 열기");
						
						eventItemDiv.append(img);
						eventItemDiv.append(eventInfoDiv);
						eventItemDiv.append(closeDiv);
						eventItemDiv.append(btn);
						
						const a = $("<a>");
						a.attr("href","/event/view?eventNo="+event.eventNo);
						
						a.append(eventItemDiv);
						
						$(".event-wrap").append(a);
						
						btn.hide();
						
						if(event.close == 0){
							closeDiv.hide();
							btn.attr("href","/event/close?eventNo="+event.eventNo+"&close=1").text("이벤트 닫기");
							btn.removeClass("open");
						}
						if(level == 1){
							btn.show();
						}

					}
					//새로읽어온 사진을 추가 완료한 시점
					//->더보기를 한번더 눌렀을때 읽어온 이후값을 조회하기 위한 준비작업
					const currentVal = Number($("#moreBtn").val());
					$("#moreBtn").val(currentVal+amount);
					//currentCount 변경
					const currentCount = Number($("#moreBtn").attr("currentCount"));
					const changeCount = currentCount+data.length;
					$("#moreBtn").attr("currentCount",changeCount);
					
					const totalCount = Number($("#moreBtn").attr("totalCount"));
					if(totalCount == changeCount) {
						$("#moreBtn").remove();
					}	
				}
			});
		});
		//화면 처음 들어왔을때 
		$("#moreBtn").click();
	</script>
	
</body>
</html>