<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>event게시판 작성</title>
<link rel="stylesheet" href="/css/eventFrm.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
		<div class="content-wrap">
			<div class="content-title">EVENT</div>
			<!-- 파일전송하는 조건 : method="post" / enctype = "multipart/form-data" -->
			<form action="/event/write" method="post" enctype="multipart/form-data">
				<table class="tbl eventWrite">
					<tr class="tr-1">
						<th class="td-2">제목</th>
						<td colspan="3">
							<input type="text" name="eventTitle" class="input-form">
						</td>
					</tr>
					<tr class="tr-1">
						<th class="td-2">작성자</th>
						<td class="td-4">
							<span th:text="${session.m.memberId}"></span>
							<!-- 데이터 전송용 -->
							<input type="hidden" name="memberNo" th:value="${session.m.memberNo}">
						</td>
						<th class="td-2">썸네일</th>
						<td>
							<input type="file" name="imageFile" accept=".jpg,.png,.jpeg">
						</td>
					</tr>
					<tr>
						<th class="td-3">내용</th>
						<td colspan="3">
							<textarea name="eventContent" class="input-form"></textarea>
						</td>
					</tr>
					<tr class="tr-1">
						<th colspan="4">
							<button type="submit" class="writeBtn">게시글 작성</button>
						</th>
					</tr>
				</table>
			</form>
		</div>
	<th:block th:include="common/footer"></th:block>
</body>
</html>