<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/eventView.css">
<title>event</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<!-- 
		<div class="content-wrap">
			<div class="content-title" th:text="${e.eventTitle}"></div>
			<div class="cont0ent-subtitle">
				<span class="event-subtitle-span">"</span>
				<span class="event-subtitl-span" th:text="${e.eventSubtitle}"></span> 
				<span class="event-subtitle-span">"</span>			
			</div>
			<div class="event_date" th:text="${e.eventDate}"></div>
			<div class="content" th:utext="${e.eventContent}"></div>
			<div class="btn-box" th:if="${session.m != null && session.m.memberLevel == 1}">
				<a class="btn" th:href="@{/event/eventUpdateFrm(eventNo=${e.eventNo})}">수정</a>
				<button class="btn" th:onclick="eventDelete([[${e.eventNo}]])">삭제</button>
			</div>
		</div>
		 -->
		 <div class="content-wrap">
			<table class="tbl tbl-border">
		        <tr>
		            <th class="b-color-g" style="width: 20%;">제목</th>
		            <td>
		                <input type="text" name="eventTitle" class="input" th:text="${e.eventTitle}"  style="text-align: left; text-indent: 2em;" readonly>
		            </td>
		        </tr>
		        <tr>
		            <th class="b-color-g" style="width: 20%;">소제목</th>
		            <td>
		                <input type="text" name="eventSubtitle" class="input" th:text="${e.eventSubtitle}" style="text-align: left; text-indent: 2em;" readonly>
		            </td>
		        </tr>
		        <tr>
		            <th class="b-color-g" style="width: 20%;">이벤트기간</th>
		            <td>
		                <input type="text" name="eventDate" class="input" th:text="${e.eventDate}" style="text-align: left; text-indent: 2em;" readonly>
		            </td>
		        </tr>
		        <tr >
		            <td colspan="4">
		                <textarea class="input textarea" name="eventContent" id="eventContent" th:utext="${e.eventContent}"></textarea>
		            </td>
		        </tr>
		        <tr>
		            <td colspan="4" th:if="${session.m != null && session.m.memberLevel == 1}">
		                <a class="btn" th:href="@{/event/eventUpdateFrm(eventNo=${e.eventNo})}">수정</a>
						<button class="btn" th:onclick="eventDelete([[${e.eventNo}]])">삭제</button>
		            </td>
		            <td>
		            </td>
		    </table>
    	</div>
		<script>
	function eventDelete(eventNo){
		if(confirm("게시글을 삭제하시겠습니까?")){
			location.href="/event/delete?eventNo="+eventNo;
		}
	}
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>