<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/eventView.css">
<title>event</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
		<div class="content-wrap">
			<div class="content-title" th:text="${e.eventTitle}"></div>
			<div class="content-subtitle">
				<span class="event-subtitle-span">"</span>
				<span class="event-subtitl-span" th:text="${e.eventSubtitle}"></span> 
				<span class="event-subtitle-span">"</span>			
			</div>
			<div class="img-box">
				<img th:src="'/event/'+${e.filepath}">
			</div>
			<div class="event-date">
				<span class="event-date-span">- 이벤트기간: </span>
				<span class="event-date-span" th:text="${e.eventDate}"></span> 
			</div>
			<div class="content"> 
				<span class="event-content-span">- 이벤트내용: </span>
				<span class="event-content-span" th:text="${e.eventContent}"></span>
			</div>
			<div class="btn-box" th:if="${session.m != null && session.m.memberLevel == 1}">
				<a class="btn" th:href="@{/event/eventUpdateFrm(eventNo=${e.eventNo})}">수정</a>
			</div>
		</div>	
	<th:block th:include="common/footer"></th:block>
</body>
</html>