<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>커뮤니티</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
    <div class="content-wrap">
		<div class="content-title">커뮤니티</div>
		<form action="/" method="post" enctype="multipart/form-data">
		<table class="tbl tbl-border">
			<tr>
				<th class="b-color-g" width="20%">제목</th>
				<td colspan="3">
                    <input type="text" name="boardTitle" class="input" th:value="${b.boardTitle}" style="text-align: center;" readonly>
                </td>
			</tr>
			<tr>
				<th class="b-color-g">카테고리</th>
				<td colspan="3">
                    <input type="text" name="boardType" class="input" th:value="${b.boardType}" style="text-align: center;" readonly>
				</td>
			</tr>
            <tr>
                <th class="b-color-g">작성자</th>
				<td>
				    <input type="text" name="boardWriter" class="input" th:value="${session.m.memberId}" style="text-align: center;" readonly>
				</td>
                <th class="b-color-g" width="20%">조회수</th>
				<td>
				    <input type="text" name="readCount" class="input" th:value="${b.readCount}" style="text-align: center;" readonly>
				</td>
            </tr>
			<tr>
				<th colspan="4" class="textarea-td">
					<div class="input textarea" th:utext="${b.boardContent}"></div>
				</th>
			</tr>
		</table>
        <table class="tbl tbl-border" style="border-top: none;">
            <tr>
                <th>
                    <button type="submit" class="btn" style="width: 100%; font-size: 18px; line-height: 40px;">작성취소</button>
                </th>
                <th>
                    <button type="submit" class="btn-o" style="width: 100%; font-size: 18px; line-height: 40px;">작성완료</button>
                </th>
            </tr>
        </table>
		</form>
	</div>
	<th:block th:include="common/footer"></th:block>
</body>
</html>