<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<script src="/summernote/summernote-lite.js"></script>
	<script src="/summernote/lang/summernote-ko-KR.js"></script>
	<link rel="stylesheet" href="/summernote/summernote-lite.css">
    <div class="content-wrap">
		<div class="content-title">커뮤니티</div>
		<form action="/board/write" method="post" enctype="multipart/form-data">
			<table class="tbl tbl-border">
				<tr>
					<th class="b-color-g" width="20%">제목</th>
					<td>
	                    <input type="text" name="boardTitle" class="input" placeholder="제목을 입력하세요" style="text-align: center;" required>
	                </td>
				</tr>
				<tr>
					<th class="b-color-g">카테고리</th>
					<td>
	                    <select name="category" class="input select">
	                        <option value="1">맛집추천</option>
	                        <option value="2">맛집비추</option>
	                        <option value="3">기타</option>
	                    </select>
					</td>
				</tr>
	            <tr>
	                <th class="b-color-g">작성자</th>
					<td>
					    <input type="text" name="boardWriter" class="input"  style="text-align: center;" th:value="${session.m.memberId}" readonly>
					</td>
	            </tr>
				<tr>
					<th colspan="2" class="textarea-td" style="text-align: left;">
						<textarea name="boardContent" class="input textarea boardContent"></textarea>
					</th>
				</tr>
			</table>
	        <table class="tbl tbl-border" style="border-top: none;">
	            <tr>
	                <th>
	                    <button type="reset" class="btn" style="width: 100%; font-size: 18px; line-height: 40px;">작성취소</button>
	                </th>
	                <th>
	                    <button type="submit" class="btn-o" style="width: 100%; font-size: 18px; line-height: 40px;">작성완료</button>
	                </th>
	            </tr>
	        </table>
		</form>
	</div>
	<th:block th:include="common/footer"></th:block>
	<script>
		$(".boardContent").summernote({
			  toolbar: [
				    ['fontname', ['fontname']],
				    ['fontsize', ['fontsize']],
				    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
				    ['color', ['forecolor','color']],
				    ['table', ['table']],
				    ['para', ['ul', 'ol', 'paragraph']],
				    ['height', ['height']],
				    ['insert',['picture','link','video']],
				    ['view', ['fullscreen', 'help']]],
					fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
					fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
			height: 600,
			lang : "ko-KR",
			callbacks :{
				onImageUpload : function(files){
					uploadImage(files[0],this);
				}	
			}
		});
		
		$("[type=reset]").on("click",function(){
			location.href="/board/list?pageNum=1";
		});
		
	</script>
</body>
</html>