<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/board-list.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
    <div class="content-wrap">
		<div class="content-title">커뮤니티</div>
		<a href="/" class="btn">글쓰기</a>
        <ul class="board-tab">
            <li>
                <a href="/">전체보기</a>
            </li>
            <li>
                <a href="/">맛집추천</a>
            </li>
            <li>
                <a href="/">맛집비추</a>
            </li>
            <li>
                <a href="/">기타</a>
            </li>
        </ul>
		<table class="tbl">
			<tr class="b-color-g">
				<th style="width:8%">번호</th>
                <th style="width:12%">카테고리</th>
				<th style="width:43%">제목</th>
				<th style="width:12%">작성자</th>
				<th style="width:17%">작성일</th>
				<th style="width:8%">조회수</th>
			</tr>
			<tr class="hover" th:each="b : ${list}">
				<td th:text="${b.boardNo}"></td>
				<td th:if="${b.boardType} == 1">맛집추천</td>
				<td th:if="${b.boardType} == 2">맛집비추</td>
				<td th:if="${b.boardType} == 3">기타</td>
                <td><a href="#" th:text="${b.boardTitle}"></a></td>
				<td th:text="${b.boardWriter}"></td>
				<td th:text="${b.regDate}"></td>
				<td th:text="${b.boardCount}"></td>
			</tr>
		</table>
		<div class="board-navi" th:utext="${navi}"></div>
	</div>
	<th:block th:include="common/footer"></th:block>
</body>
</html>