<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>커뮤니티</title>
<link rel="stylesheet" href="/css/comment.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
    <div class="content-wrap">
		<div class="content-title">커뮤니티</div>
		<table class="tbl tbl-border">
			<tr>
				<th class="b-color-g" width="20%">제목</th>
				<td colspan="3">
                    <input type="text" name="boardTitle" class="input" th:value="${b.boardTitle}" style="text-align: center;" readonly>
                </td>
			</tr>
			<tr>
				<th class="b-color-g">카테고리</th>
				<td colspan="3">
                    <input type="text" name="boardType" class="input" th:if="${b.boardType}==1" value="맛집추천" style="text-align: center;" readonly>
                    <input type="text" name="boardType" class="input" th:if="${b.boardType}==2" value="맛집비추" style="text-align: center;" readonly>
                    <input type="text" name="boardType" class="input" th:if="${b.boardType}==3" value="기타" style="text-align: center;" readonly>
				</td>
			</tr>
            <tr>
                <th class="b-color-g">작성자</th>
				<td>
				    <input type="text" name="boardWriter" class="input" th:value="${b.boardWriter}" style="text-align: center;" readonly>
				</td>
                <th class="b-color-g" width="20%">조회수</th>
				<td>
				    <input type="text" name="readCount" class="input" th:value="${b.boardCount}" style="text-align: center;" readonly>
				</td>
            </tr>
			<tr>
				<th colspan="4" class="textarea-td">
					<div class="textarea" th:utext="${b.boardContent}" style="text-align: left; height:100%;"></div>
				</th>
			</tr>
		</table>
        <table class="tbl tbl-border" style="border-top: none;" th:if="${session.m != null && session.m.memberId == b.boardWriter}">
            <tr>
                <th>
                    <button type="button" class="btn" style="width: 100%; font-size: 18px; line-height: 40px;" th:value="${b.boardNo}">삭제하기</button>
                </th>
                <th>
                    <a th:href="@{/board/updateFrm(boardNo=${b.boardNo})}" class="btn-o" style="width: 100%; font-size: 18px; line-height: 40px;">수정하기</a>
                </th>
            </tr>
        </table>
	
	
	<!-- 댓글시작 -->
		
		<div class="inputCommentBox" th:if="${session.m != null}">
			<form action="/board/insertComment" method="post">
				<ul>
					<li>
						<span class="material-icons">account_box</span>
					</li>
					<li>
						<input type="hidden" name="boardCommentWriter" th:value="${session.m.memberId}">
						<input type="hidden" name="boardRef" th:value="${b.boardNo}">
						<textarea name="boardCommentContent" class="input-form" required></textarea>
					</li>
					<li>
						<button type="submit" class="btn" style="height:96px;  margin-left:10px;">등록</button>
					</li>
				</ul>
			</form>
		</div>


	
		<div class="commentBox">
			<th:block th:each="c : ${commentList}">
				<ul class="posting-comment">
					<li>
						<span class="material-icons">pets</span>
					</li>
					<li>
						<p class="comment-info">
							<span th:text="${c.boardCommentWriter}"></span>
							<span th:text="${c.boardCommentDate}"></span>
							<span class="like-box">
								<span class="material-icons" th:if="${session.m == null}" onclick="loginMsg();">favorite_border</span>
								<span class="material-icons" th:if="${session.m != null && c.isLike == 1}" th:onclick="removeLike(this,[[${c.boardCommentNo}]],[[${session.m.memberNo}]]);">favorite</span>
								<span class="material-icons" th:if="${session.m != null && c.isLike == 0}" th:onclick="addLike(this,[[${c.boardCommentNo}]],[[${session.m.memberNo}]]);">favorite_border</span>
								<span th:text="${c.likeCount}"></span>
							</span>
						</p>
						<p class="comment-content" th:text="${c.boardCommentContent}"></p>
						<textarea name="boardCommentContent" class="input-form" style="min-height:96px;display:none;" th:text="${c.boardCommentContent}"></textarea>
						<p class="comment-link">
							<th:block th:if="${session.m != null}">
								<th:block th:if="${session.m.memberId == c.boardCommentWriter}">
									<a href="javascript:void(0);" th:onclick="modifyComment(this,[[${c.boardCommentNo}]],[[${b.boardNo}]])">수정</a>
									<a href="javascript:void(0);" th:onclick="deleteComment(this,[[${c.boardCommentNo}]],[[${b.boardNo}]])">삭제</a>
								</th:block>
								<a href="javascript:void(0)" class="recShow">답글달기</a>
							</th:block>
						</p>
					</li>
				</ul>
			
				<!-- 대댓글 보이는곳 -->
				<th:block th:each="rc : ${reCommentList}">
					<ul class="posting-comment reply" th:if="${c.boardCommentNo == rc.boardCommentRef}">
						<li>
							<span class="material-icons">subdirectory_arrow_right</span>
							<span class="material-icons">face_retouching_natural</span>
						</li>
						<li>
							<p class="comment-info">
								<span th:text="${rc.boardCommentWriter}"></span>
								<span th:text="${rc.boardCommentDate}"></span>
								<span class="like-box">
									<span class="material-icons" th:if="${session.m == null}" onclick="loginMsg();">favorite_border</span>
									<span class="material-icons" th:if="${session.m != null && rc.isLike == 1}" th:onclick="removeLike(this,[[${rc.boardCommentNo}]],[[${session.m.memberNo}]]);">favorite</span>
									<span class="material-icons" th:if="${session.m != null && rc.isLike == 0}" th:onclick="addLike(this,[[${rc.boardCommentNo}]],[[${session.m.memberNo}]]);">favorite_border</span>
									<span th:text="${rc.likeCount}"></span>
								</span>
							</p>
							<p class="comment-content" th:text="${rc.boardCommentContent}"></p>
							<textarea name="boardCommentContent" class="input-form" style="min-height:96px;display:none;" th:text="${rc.boardCommentContent}"></textarea>
							<p class="comment-link">
								<th:block th:if="${session.m != null}">
									<th:block th:if="${session.m.memberId == rc.boardCommentWriter}">
										<a href="javascript:void(0);" th:onclick="modifyComment(this,[[${rc.boardCommentNo}]],[[${b.boardNo}]])">수정</a>
										<a href="javascript:void(0);" th:onclick="deleteComment(this,[[${rc.boardCommentNo}]],[[${b.boardNo}]])">삭제</a>
									</th:block>
								</th:block>
							</p>
						</li>
					</ul>	
				</th:block>
				
				<!-- 대댓글 입력칸 -->
				<div class="inputCommentBox inputRecommentBox" th:if="${session.m != null}">
					<form action="/board/insertComment" method="post">
						<ul>
							<li>
								<span class="material-icons">subdirectory_arrow_right</span>
							</li>
							<li>
								<input type="hidden" name="boardCommentWriter" th:value="${session.m.memberId}">
								<input type="hidden" name="boardRef" th:value="${b.boardNo}">
								<input type="hidden" name="boardCommentRef" th:value="${c.boardCommentNo}">
								<textarea name="boardCommentContent" class="input-form"></textarea>
							</li>
							<li>
								<button type="submit" class="btn">등록</button>
							</li>
							
						</ul>
					</form>
				</div>
			</th:block>
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>
	<script src="/js/sweetalert.min.js"></script>
	<script>
		//게시물 삭제
		$("[type=button]").on("click",function(){
			const boardNo = $(this).val();
			if(confirm("게시물을 삭제하시겠습니까?")){				
				location.href="/board/delete?boardNo="+boardNo;
			}
		});
		
		let title = "로그인";
		let msg = "로그인 후 이용해 주세요!";
		let icon = "warning";
		function loginMsg(){
			swal({
				title : title,
				text : msg,
				icon : icon
			})
		}
		
		function addLike(obj,boardCommentNo,memberNo){
			const likeBtn = $(obj);
			$.ajax({
				url : "/board/addLike",
				type : "post",
				data : {boardCommentNo:boardCommentNo, memberNo : memberNo},
				success : function(data){
					likeBtn.text("favorite");
					likeBtn.attr("onclick","removeLike(this,"+boardCommentNo+","+memberNo+")");
					likeBtn.next().text(data);
				}
			})
		}
		
		function removeLike(obj,boardCommentNo, memberNo){
			const likeBtn = $(obj);
			$.ajax({
				url : "/board/removeLike",
				type : "post",
				data : {boardCommentNo:boardCommentNo, memberNo:memberNo},
				success : function(data){
					likeBtn.text("favorite_border");
					likeBtn.attr("onclick","addLike(this,"+boardCommentNo+","+memberNo+")");
					likeBtn.next().text(data);
				}
			});
		}
		$(".recShow").on("click", function(){
			//몇번째 답글달기 버튼을 클릭할지 구함
			const index = $(".recShow").index(this);
			if($(this).text() =="답글달기"){
				$(this).text("취소");
			}else{
				$(this).text("답글달기");
			}
			//대댓글양식중에 해당번째 양식을 화면에 출력
			$(".inputRecommentBox").eq(index).toggle();
			$(".inputRecommentBox").eq(index).find("textarea").focus();
		});
		//댓글수정
		function modifyComment(obj,boardCommentNo, boardNo){
			$(obj).parent().prev().prev().hide();			
			$(obj).parent().prev().show();
			$(obj).text("수정완료");
			$(obj).attr("onclick","modifyComplete(this,"+boardCommentNo+","+boardNo+")");
			$(obj).next().text("수정취소");
			$(obj).next().attr("onclick","modifyCancel(this,"+boardCommentNo+","+boardNo+")");

			$(obj).next().next().hide();
		}
		//댓글삭제
		function modifyCancel(obj,noticeCommentNo,noticeNo){
			$(obj).parent().prev().prev().show();
			$(obj).parent().prev().hide();
			$(obj).prev().text("수정");
			$(obj).prev().attr("onclick","modifyComment(this,"+boardCommentNo+","+boardNo+")");			
			$(obj).text("삭제");
			$(obj).attr("onclick","deleteComment(this,"+boardCommentNo+","+boardNo+")");
			$(obj).next().show();
		}
		function modifyComplete(obj,boardCommentNo, boardNo){
			const form = $("<form style='display:none' action='/board/updateComment' method='post'>");	
			const commentNoInput = $("<input type='text' name='boardCommentNo'>");
			commentNoInput.val(boardCommentNo);
			const boardNoInput = $("<input type='text' name='boardRef'>");
			boardNoInput.val(boardNo);
			const textArea=$(obj).parent().prev().clone();
			form.append(commentNoInput).append(boardNoInput).append(textArea);
			$("body").append(form);
			form.submit();
		}
		
		function deleteComment(obj,boardCommentNo,boardNo){
			if(confirm("댓글을 삭제하시겠습니까?")){
				location.href="/board/deleteComment?boardCommentNo="+boardCommentNo+"&boardNo="+boardNo;
			}
		}
	</script>
</body>
</html>