<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/boardList.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
    <div class="content-wrap">
		<div class="content-title">커뮤니티</div>
		<div class="board-write-btn">
			<a th:if="${session.m != null}" href="/board/writeFrm" class="btn">글쓰기</a>
		</div>
        <ul class="board-tab">
            <li>
                <button class="tab-button">전체보기</button>
            </li>
            <li>
                <button class="tab-button">맛집추천</button>
            </li>
            <li>
                <button class="tab-button">맛집비추</button>
            </li>
            <li>
                <button class="tab-button">기타</button>
            </li>
        </ul>
		<table class="tbl">
			<thead>
			<tr class="b-color-g">
				<th style="width:8%">번호</th>
                <th style="width:12%">카테고리</th>
				<th style="width:43%">제목</th>
				<th style="width:12%">작성자</th>
				<th style="width:17%">작성일</th>
				<th style="width:8%">조회수</th>
			</tr>
			</thead>
			<tbody>
			<tr class="hover" th:each="b : ${list}">
				<td th:text="${b.boardNo}"></td>
				<td th:if="${b.boardType} == 1">맛집추천</td>
				<td th:if="${b.boardType} == 2">맛집비추</td>
				<td th:if="${b.boardType} == 3">기타</td>
                <td><a th:href="@{/board/boardView(boardNo=${b.boardNo})}" th:text="${b.boardTitle}"></a></td>
				<td th:text="${b.boardWriter}"></td>
				<td th:text="${b.regDate}"></td>
				<td th:text="${b.boardCount}"></td>
			</tr>
			</tbody>
			<tbody>
			<tr class="hover" th:each="b : ${list1}">
				<td th:text="${b.boardNo}"></td>
				<td th:if="${b.boardType} == 1">맛집추천</td>
				<td th:if="${b.boardType} == 2">맛집비추</td>
				<td th:if="${b.boardType} == 3">기타</td>
                <td><a th:href="@{/board/boardView(boardNo=${b.boardNo})}" th:text="${b.boardTitle}"></a></td>
				<td th:text="${b.boardWriter}"></td>
				<td th:text="${b.regDate}"></td>
				<td th:text="${b.boardCount}"></td>
			</tr>
			</tbody>
			<tbody>
			<tr class="hover" th:each="b : ${list2}">
				<td th:text="${b.boardNo}"></td>
				<td th:if="${b.boardType} == 1">맛집추천</td>
				<td th:if="${b.boardType} == 2">맛집비추</td>
				<td th:if="${b.boardType} == 3">기타</td>
                <td><a th:href="@{/board/boardView(boardNo=${b.boardNo})}" th:text="${b.boardTitle}"></a></td>
				<td th:text="${b.boardWriter}"></td>
				<td th:text="${b.regDate}"></td>
				<td th:text="${b.boardCount}"></td>
			</tr>
			</tbody>
			<tbody>
			<tr class="hover" th:each="b : ${list3}">
				<td th:text="${b.boardNo}"></td>
				<td th:if="${b.boardType} == 1">맛집추천</td>
				<td th:if="${b.boardType} == 2">맛집비추</td>
				<td th:if="${b.boardType} == 3">기타</td>
                <td><a th:href="@{/board/boardView(boardNo=${b.boardNo})}" th:text="${b.boardTitle}"></a></td>
				<td th:text="${b.boardWriter}"></td>
				<td th:text="${b.regDate}"></td>
				<td th:text="${b.boardCount}"></td>
			</tr>
			</tbody>
		</table>
		<div class="board-navi" th:utext="${navi}"></div>
		<div class="board-navi" th:utext="${navi1}"></div>
		<div class="board-navi" th:utext="${navi2}"></div>
		<div class="board-navi" th:utext="${navi3}"></div>
	</div>
	<th:block th:include="common/footer"></th:block>
	<script >
		const type = [[${type}]];
		window.onload = function(){
			$(".tab-button").css("cursor","pointer");
			$(".tab-button").each(function(i,index){
				$(".tab-button").eq(i).on("click",function(){
					
					if(i !== type){
						
						location.href="/board/list?pageNum=1&type="+i;
					}
				});
			})
			$(".tab-button").eq(type).addClass("active-tab");
			$(".tbl>tbody").eq(type).show();
			$(".board-navi").eq(type).show();
		}
	</script>
</body>
</html>