<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>관리자페이지(전체회원조회)</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
		<div class="content-wrap">
			<div class="content-title">회원관리</div>
			<table class="tbl tbl-hover">
			<tr class="tr-3">
				<th>선택</th>
				<th>회원번호</th>
				<th>아이디</th>
				<th>이름</th>
				<th>이메일</th>
				<th>핸드폰번호</th>
				<th>가입일</th>
				<th>회원등급</th>
				<th>등급변경</th>
			</tr>
			<tr class="tr-1" th:each="m : ${list}">
			<td><input type="checkbox" class="chk"></td>
			<td th:text = "${m.memberNo}"></td>
			<td th:text = "${m.memberId}"></td>
			<td th:text = "${m.memberName}"></td>
			<td th:text = "${m.memberEmail}"></td>
			<td th:text = "${m.memberPhone}"></td>
			<td th:text = "${m.enrollDate}"></td>
			<td th:switch = "${m.memberLevel}">
				<select th:case="1" class="input-form">
					<option value="1" selected>관리자</option>
					<option value="2" selected>일반회원</option>
				</select>
			</td>
			<td>
				<button class="btn bc5 changeLevel">등급변경</button>
			</td>
			<tr>
			<th colspan="9">
				<button class="btn checkedChangeLevel">선택회원등급변경</button>
			</th>
			</tr>		
			</table>
		</div>
		<th:block th:include="common/footer"></th:block>
		

</body>
</html>