<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>join</title>
    <link rel="stylesheet" href="/css/joinFrm_copy.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <script src="/js/jquery-3.6.0.js"></script>
</head>
<body>
	<th:block th:include="common/header"></th:block>
    <div class="content-wrap">
        <div class="content-title">JOIN</div>
        <form action="/member/signup" method="post" id="join-form">
        <table class="join-table">
            <tr>
                <td class="join-th">
                    <label for="memberId">아이디</label>
                    <span> * </span>
                </td>
                <td>
                    <input type="text" class="join-input-form" id="memberId" name="memberId" 
                    required oninvalid="this.setCustomValidity('양나민 대장과 아이들!')">
                    <span class="comment"></span>
                </td>
            <tr>
                <td class="join-th">
                    <label for="memberPw">비밀번호</label>
                    <span> * </span>
                </td>
                <td>
                    <input type="password" class="join-input-form" id="memberPw" name="memberPw" placeholder="영문+숫자+특수문자 조합 8~16자리를 입력해주세요." 
                    required>
                    <span class="comment"></span>
                </td>
            </tr>
            <tr>
                <td class="join-th">
                    <label for="memberPwRe">비밀번호확인</label>
                    <span> * </span>
                </td>
                <td>
                    <input type="password" class="join-input-form" id="memberPwRe" required>
                    <span class="comment"></span>
                </td>
            </tr>
            <tr>
                <td class="join-th">
                    <label for="memberName">이름</label>
                    <span> * </span>
                </td>
                <td>
                    <input type="text" class="join-input-form" id="memberName" name="memberName" placeholder="ex)홍길동" required>
                    <span class="comment"></span>
                </td>
            </tr>
            <tr>
                <td class="join-th">
                    <label for="memberPhone">핸드폰번호</label>
                </td>
                <td>
                    <input type="text" class="join-input-form" id="memberPhone" name="memberPhone" placeholder="ex)010-0000-0000" required>
                    <span class="comment"></span>
                </td>
            </tr>
            <tr>
                <td class="join-th-end">
                    <label for="memberEmail">이메일</label>
                    <span> * </span>
                </td>
                <td class="join-td-end">
                    <input type="text" class="join-input-form" id="memberEmail" name="memberEmail" placeholder="@를 포함한 이메일 형식으로 입력해주세요." required>
                </td>
            </tr>  
        </table>
        
        <div class="join_agreement">
            <ul class="join-ul">
                <li id="join_agreementAll">
                    <input type="checkbox" id="allAgreement">
                    <label for="allAgreement"><span id="allAgreement">약관 전체 동의</span></label><br>
                    <div class="join-allAgreeContent">
                        <p>전체동의는 필수 및 선택정보에 대한 동의도 포함되어 있으며, 개별적으로도 동의를 선택하실 수 있습니다.</p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" id="essentialAgree1" required>
                    <label for="essentialAgree1">만 14세 이상입니다.<span id="essential">(필수)</span></label>
                </li>
                <li>
                    <input type="checkbox" id="essentialAgree2" required>
                    <label for="essentialAgree2">이용약관 동의<span id="essential">(필수)</span></label>
                    <button class="modal-open-btn2" type="button">내용보기</button>
                </li>
                <li>
                    <input type="checkbox" id="optionAgreement">
                    <label for="optionAgreement">개인정보 수집 및 이용안내<span id=option>(선택)</span></label>
                    <button class="modal-open-btn" type="button">내용보기</button>
                </li>
            </ul>
        </div>
        <div class="join-btn-class">
            <button type="submit" id="btnConfirm" class="btn">회원가입</button>
        </div>
        
        </form>
        <div class="join-modal-wrap">
            <div class="login-modal">
                <div class="login-modal-top">
                    <button class="join-modal-close"><span class="material-icons" id="close">close</span></button>
                    <h2>개인정보 수집 및 이용안내(선택)</h2>
                    <table class="join-tou-table">
                        <tr>
                            <th width="20%">구분</th>
                            <th width="30%">수집항목</th>
                            <th width="50%">이용목적</th>
                        </tr>
                        <tr>
                            <td>기타서비스</td>
                            <td>휴대폰 번호</td>
                            <td>헤택/정보/웨이팅 안내 메세지 전송</td>
                        </tr>
                    </table>
                    <div class="join-tou-content">
                        <ul>
                            <li>개인정보의 보유 및 이용기간 : 회원 탈퇴 시 30일 뒤 또는 법정 의무 보유기간</li>
                            <li>선택사항의 동의를 거부하시는 경우에도 회원가입은 진행되오나, 부가서비스는 제한될 수 있습니다.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="join-modal-wrap-privacy">
            <div class="login-modal" sytle="overflow-y: scroll; height:500px";>
                <div class="login-modal-top">
                    <button class="join-modal-close"><span class="material-icons" id="close">close</span></button>
                    <div class="login-modal-title">
                        <h2>이용약관</h2>
                        <hr>
                        <div class="join-privacy-content">
                        이용 약관 수정 예정.
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <th:block th:include="common/footer"></th:block>
    
    <script src="/js/joinFrm_copy.js"></script>
    <script>

    </script>
</body>
</html>
