<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>join</title>
    <link rel="stylesheet" href="/css/joinFrm_copy.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <script src="/js/jquery-3.6.0.js"></script>
</head>
<body>
<style>
/* 약관동의 */
.join-ul>li{
    background-color: #eee;
    list-style: none;
    padding-left: 20px;
    text-align: left;
    height: 40px;
    margin-bottom: 2px;
    line-height: 40px;
    font-size: 15px;
    position: relative;
}
/* 모달 */


</style>
	<th:block th:include="common/header"></th:block>
    <div class="content-wrap">
        <div class="content-title">JOIN</div>
        <form action="/member/signup" method="post" id="join-form">
        <table class="join-table">
            <tr>
                <td class="join-th">
                    <label for="memberId">아이디</label>
                    <span> * </span>
                </td>
                <td>
                    <input type="text" class="join-input-form" id="memberId" name="memberId" 
                    required oninvalid="this.setCustomValidity('양나민 대장과 아이들!')">
                    <span class="comment"></span>
                </td>
            <tr>
                <td class="join-th">
                    <label for="memberPw">비밀번호</label>
                    <span> * </span>
                </td>
                <td>
                    <input type="password" class="join-input-form" id="memberPw" name="memberPw" placeholder="영문+숫자+특수문자 조합 8~16자리를 입력해주세요." 
                    required>
                    <span class="comment"></span>
                </td>
            </tr>
            <tr>
                <td class="join-th">
                    <label for="memberPwRe">비밀번호확인</label>
                    <span> * </span>
                </td>
                <td>
                    <input type="password" class="join-input-form" id="memberPwRe" required>
                    <span class="comment"></span>
                </td>
            </tr>
            <tr>
                <td class="join-th">
                    <label for="memberName">이름</label>
                    <span> * </span>
                </td>
                <td>
                    <input type="text" class="join-input-form" id="memberName" name="memberName" placeholder="ex)홍길동" required>
                    <span class="comment"></span>
                </td>
            </tr>
            <tr>
                <td class="join-th">
                    <label for="memberPhone">핸드폰번호</label>
                    <span> * </span>
                </td>
                <td>
                    <input type="text" class="join-input-form" id="memberPhone" name="memberPhone" placeholder="ex)010-0000-0000" required>
                    <span class="comment"></span>
                </td>
            </tr>
            <tr>
                <td class="join-th-end">
                    <label for="memberEmail">이메일</label>
                    <span> * </span>
                </td>
                <td class="join-td-end">
                    <input type="text" class="join-input-form" id="memberEmail1" name="memberEmail1" required> @
                    <select style="width:200px; height:42px;" name="memberEmail2" id="memberEmail2" >
	        			<option>naver.com</option>
	        			<option>daum.net</option>
	        			<option>gmail.com</option>
	        			<option>nate.com</option>
    				</select>
    				<input type="hidden" class="join-input-form" id="memberEmail" name="memberEmail">
                </td>
            </tr>  
        </table>
        
        <div class="join_agreement">
            <ul class="join-ul">
                <li id="join_agreementAll">
                    <input type="checkbox" id="allAgreement">
                    <label for="allAgreement"><span id="allAgreement">약관 전체 동의</span></label><br>
                    <div class="join-allAgreeContent">
                        <p>전체동의는 필수 및 선택정보에 대한 동의도 포함되어 있으며, 개별적으로도 동의를 선택하실 수 있습니다.</p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" id="essentialAgree1" required>
                    <label for="essentialAgree1">만 14세 이상입니다.<span id="essential">(필수)</span></label>
                </li>
                <li>
                    <input type="checkbox" id="essentialAgree2" required>
                    <label for="essentialAgree2">이용약관 동의<span id="essential">(필수)</span></label>
                    <button class="modal-open-btn2" type="button">내용보기</button>
                </li>
                <li>
                    <input type="checkbox" id="optionAgreement">
                    <label for="optionAgreement">정보수신동의<span id=option>(선택)</span></label>
                    <button class="modal-open-btn" type="button">내용보기</button>
                </li>
            </ul>
        </div>
        <div class="join-btn-class">
            <button type="submit" id="btnConfirm" class="btn">회원가입</button>
        </div>
        
        </form>
        <div class="join-modal-wrap">
            <div class="login-modal">
                <div class="login-modal-top">
                    <button class="join-modal-close"><span class="material-icons" id="close">close</span></button>
                    <div class="login-modal-title">
                    <h2>정보 수신동의(선택)</h2>
                    </div>
                    <hr>
                    <br>
                    <p> 할인쿠폰 및 혜택, 이벤트 소식 등 come eat 에서 제공하는 유익한 정보를  SMS나 이메일로 받아보실수 있습니다.</p>
                    <p> 단, 주요정책과 관련된 내용은 수신동의 여부와 관계없이 발송 됩니다.</p>
                    <br><br><br>
                    <p><input type="checkbox">	SMS 수신을 동의하십니까?</p>
                    <p><input type="checkbox"> 이메일 수신을 동의하십니까?</p>
                </div>
            </div>
        </div>
        <div class="join-modal-wrap-privacy">
            <div class="login-modal">
                <div class="login-modal-top">
                    <button class="join-modal-close"><span class="material-icons" id="close">close</span></button>
                    <div class="login-modal-title">
                        <h2>이용약관</h2>
                        <hr>
                        <div class="join-privacy-content">
                        제 1 장 총칙<br><br>
			   제 1 조 (목적)<br>
			   이 약관은 주식회사 빨리끝내고회식하조(이하 '회사')가 제공하는 come eat 서비스(이하 "서비스")의 이용과 관련하여 "회사"와 "회원"(제2조에서 정의합니다) 간의 권리, 의무 및 책임사항, "회원"의 "서비스" 이용 절차에 관한 사항을 규정함을 목적으로 합니다. 이 약관은 "회사"가 제공하는 "서비스" 일체에 적용됩니다.
			 <br><br>
			  제 2 조 (용어의 정의)<br>
			  본 약관에서 사용하는 용어의 정의는 다음과 같습니다.<br>

				1. "서비스"란 "회사"가 제공하는 레스토랑에 대한 예약∙대기신청∙정보제공∙추천∙티켓 구매(이에 한정되지 않음) 등을 위한 온라인 플랫폼 서비스를 의미합니다. 서비스는 구현되는 장치나 단말기(PC, TV, 휴대형 단말기 등의 각종 유무선 장치를 포함하며 이에 한정되지 않음)와 상관 없이 캐치테이블 및 캐치테이블 관련 웹(Web)∙앱(App) 등의 제반 서비스를 의미하며, 회사가 공개한 API를 이용하여 제3자가 개발 또는 구축한 프로그램이나 서비스를 통하여 회원에게 제공되는 경우를 포함합니다.
				<br>
				2. "회원"이란 "서비스"에 접속하여 본 약관에 따라 "회사"와 이용계약을 체결하고 "회사"가 제공하는 서비스를 이용하는 고객을 말하며, 회원계정(ID/PW)을 생성하지 않은 일반 고객(일명 비회원 고객)도 포함됩니다.
				<br>
				3. "판매자"이라 함은 "회사"가 제공하는 "서비스"를 이용하여 자신의 상품 등을 판매하는 자를 의미하며, 회사로부터 예약∙대기신청∙판매 대행, 광고 서비스 등을 제공받는 자를 말합니다
				<br>
				4. "게시물"이란 "회원"이 "서비스"를 이용함에 있어 "서비스" 상에 게시한 부호, 문자, 음성 형태의 글, 사진, 동영상 및 각종 파일과 링크 등을 의미합니다.
				<br>
				5. "가입신청인"이라 함은 이 약관에 의하여 "회원"이 되고자 하는 사람을 말합니다.
				<br>
				6. "포인트"란 "회원"이 "서비스"에 종속된 활동을 통해 적립 받은 것으로, 상품 등을 구매할 때나 "회사"가 제공하는 "서비스"를 이용할 때 현금처럼 사용할 수 있는 "서비스" 전용의 사이버 화폐를 말합니다.
				<br>
				7. 본 약관에서 사용하는 용어 중 본 조에서 정하지 아니한 사항은 관계 법령에서 정하는 바에 따르며, 그 외에는 일반 관례에 따릅니다.
				<br><br>
			제 3 조 (약관의 게시와 개정)<br>
				1. 본 약관은 "회원"이 서비스 가입 및 이용시 열람 할 수 있으며, "회사"는 본 약관의 내용을 "회원"이 쉽게 열람할 수 있도록 come eat 서비스 홈페이지(이하 "홈페이지") 또는 연결화면을 통하여 게시합니다.
				<br>
				2. "회사"는 『약관의 규제에 관한 법률』, 『전자상거래 등에서의 소비자보호에 관한 법률』, 『정보통신망 이용촉진 및 정보보호(이하 "정보통신망법"이라 합니다)』, 『소비자기본법』, 『전자문서 및 전자거래 기본법』 등 관련법에 위배되지 않는 범위 내에서 본 약관을 개정할 수 있습니다.
				<br>
				3. "회사"는 "약관"을 개정할 경우 개정내용과 적용일자를 명시하여 제5조에 따른 방법으로 적용일자 7일 전부터 적용일자 전일까지 통지합니다. 다만, "이용자"에게 불리하게 개정되는 경우에는 적용일자 30일 전부터 적용일자까지 공지하고, "이용자"가 기재한 전자우편주소 또는 "캐치테이블" 로그인 시 노출되는 팝업 창 등의 전자적 수단을 통해 별도로 통지합니다.
				<br>
				4. "회사"가 전항에 따라 개정약관을 공지하면서 일정한 기간 내에 의사표시를 하지 않으면 의사표시가 표명된 것으로 본다는 뜻을 명확하게 공지 또는 통지하였음에도 "회원"이 명시적으로 거부의 의사표시를 하지 아니한 경우 개정약관에 동의한 것으로 봅니다.
				<br>
				5. "회원"은 개정약관에 동의하지 않는 경우에는 개정 약관의 적용일 이전에 명시적인 거부 의사를 표시하고 이용계약을 해지할 수 있습니다.
				<br>
				6. "회원"은 약관 변경에 대하여 주의의무를 다하여야 하며, 개정 약관의 부지로 인한 "회원"의 피해는 "회사"가 책임지지 않습니다.
				<br><br>
			제 4 조 (개별 서비스에 대한 약관 및 약관의 해석 )<br>
				1. "회사"는 필요한 경우 특정 서비스에 관하여 적용될 사항(이하 "개별약관") 및 세부적인 내용(이하 "이용정책")을 정하여 운영할 수 있으며, 해당 내용은 홈페이지 등을 통해 공지합니다.
				<br>
				2. 특정 서비스에 대한 "개별약관"이 본 약관과 상충할 경우에는 "개별약관"이 우선하여 적용됩니다.
				<br>
				3. "회원"은 항상 개별약관이나 이용정책의 내용에 변경이 있는지를 주시하여야 하며, 변경사항의 공지가 있을 시에는 이를 확인하여야 합니다.
				<br>
				4. 본 약관 또는 개별약관에서 정하지 않은 사항은 『전기통신사업법』, 『전자문서 및 전자거래 기본법』, 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』, 『전자상거래 등에서의 소비자보호에 관한 법률』, 『개인정보보호법』 등 관련 법의 규정 및 회사가 정한 서비스의 세부이용지침 등의 규정에 따릅니다. 또한 본 약관에서 정한 회사의 책임 제한 규정은 관련 법령이 허용하는 최대한도의 범위 내에서 적용됩니다.
				<br><br>
			제 5 조 (회원에 대한 통지)
				<br>
				1. "회사"가 "회원"에 대한 통지를 하는 경우 이 약관에 별도 규정이 없는 한 서면(전자문서 또는 전자우편을 포함)에 의하여 "회원"이 "회사"에 제공한 전자우편주소, 전화번호 등 으로 할 수 있습니다.
				<br>
				2. "회사"는 "회원" 전체에 대하여 통지를 하는 경우 "캐치테이블" 초기화면 또는 게시판에 게시함으로써 전항의 통지에 갈음할 수 있습니다. 다만, "회원"의 "서비스" 이용에 중대한 영향을 주는 사항에 대해서는 전항의 통지 수단 중 2개 이상의 방법으로 통지합니다.
				<br>
				3. "회원"은 "회사"에 실제로 연락이 가능한 전자우편, (휴대)전화번호, 주소 등의 정보를 제공하고 해당 정보들을 최신으로 유지하여야 하며, "회사"의 통지를 확인하여야 합니다.
				<br>
				                        
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <th:block th:include="common/footer"></th:block>
    
    <script src="/js/joinFrm_copy.js"></script>
    <script>
	$("#btnConfirm").on("click",function(){
		
		var str = "";
		if($("#memberId").val() == ""){ // if( $('#id').val() == "" ) 도 가능
			alert('아이디를 입력하세요');
			$("#memberId").focus(); // 이건 그냥 마우스 커서가 여기로 오게 하는것
			return false;
		}
		const idReg = /^[a-zA-z0-9]{4,8}$/;
		const idValue = $("#memberId").val();
		const checkId = idReg.test(idValue);
		if(!checkId){
			alert("아이디양식을 확인해주세요!")
			$("#memberId").focus();
			return false;
		}
		if($("#memberPw").val() == ""){
			alert("비밀번호를 입력하세요.");
			$("#memberPw").focus();
			return false;
		}
		
		if($("#memberPwRe").val() == ""){
			alert("비밀번호확인을 입력하세요.");
			$("#memberPwRe").focus();
			return false;
		}
		const pwReg = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,16}$/;
	    const inputPw = $("#memberPw").val();
	    const checkPw = pwReg.test(inputPw);
	    if(!checkPw){
			alert("비밀번호양식을 확인해주세요!")
			$("#memberPw").focus();
			return false;
		}
		if($("#memberPw").val() != $("#memberPwRe").val()){
			alert("비밀번호가 일치하지 않습니다.");
			 $("#memberPwRe").select(); // 마우스 커서도 오고, 텍스트가 블록 씌워진 상태로 됨
			return false;
		}
		if($("#memberName").val() == ""){
			alert('이름을 입력하세요');
			$("#memberName").focus();
			return false;
		}
		
	    const nameReg = /^[가-힣]{2,}$/;
	    const nameValue = $("#memberName").val();
	    const checkName = nameReg.test(nameValue);
	    if(!checkName){
			alert("이름은 한글만 입력가능합니다!")
			$("#memberName").focus();
			return false;
		}
		
		if($("#memberPhone").val() == ""){
			alert('전화번호를 입력하세요');
			$("#memberPhone").focus();
			return false;
		}
		if( $('input[type="checkbox"]').is(':checked') == false ){
			alert('필수동의항목에 체크하셔야 합니다.');
			return false;
		}
		
	
		
		
		
		
		
		
		
		
		
		
	});
    </script>
    <script>
    	//이메일 값 전달
    	$("#btnConfirm").on("click",function(){
    		console.log("체크");
	    	const email1 = $("#memberEmail1").val();
	    	const email2 = $("#memberEmail2").val();
	    	const emailFull = email1 + "@" + email2;
	    	console.log(emailFull);
	    	$("#memberEmail").val(emailFull);
    	});
    </script>
   
</body>
</html>
