<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>join</title>
    <link rel="stylesheet" href="/css/join.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <script src="/js/jquery-3.6.0.js"></script>
</head>
<body>
     <div class="join-wrap">
        <div class="join-title">JOIN</div>
        <p><span>* </span>필수 입력 항목</p>
        <form name="checkIdFrm" action="/member/checkId" method="post">
			<input type="text" name="checkId">
		</form>
		<form action="/member/signup" method="post" id=signupFrm>
			<div class="input-wrap">
				<label for="memberId">아이디<span id="ajaxCheckId"></span></label>
				<div class="id-wrap">
				<input type="text" name="memberId" id="memberId" class="input-form" required>
				<button type="button" id=idChkBtn class="btn bc2">중복체크</button>
				</div>
			</div>
		</form>
	</div>
        <div class="join_agreement">
            <ul class="join-ul">
                <li id="join_agreementAll">
                    <input type="checkbox" id="allAgreement">
                    <label for="checkAgree"><span id="allAgreement">약관 전체 동의</span></label><br>
                    <div class="join-allAgreeContent">
                        <p>전체동의는 필수 및 선택정보에 대한 동의도 포함되어 있으며, 개별적으로도 동의를 선택하실 수 있습니다.</p>
                    </div>
                </li>
                <li>
                    <input type="checkbox" id="essentialAgree1">
                    <label for="checkAgree">만 14세 이상입니다.<span id="essential">(필수)</span></label>
                </li>
                <li>
                    <input type="checkbox" id="essentialAgree2">
                    <label for="checkAgree">이용약관 동의<span id="essential">(필수)</span></label>
                    <button class="modal-open-btn2">내용보기</button>
                </li>
                <li>
                    <input type="checkbox" id="optionAgreement">
                    <label for="checkAgree">개인정보 수집 및 이용안내<span id=option>(선택)</span></label>
                    <button class="modal-open-btn">내용보기</button>
                </li>
            </ul>
        </div>
        <div class="join-btn-class">
            <button type="button" id="btnCancel">취소</button>
            <button type="button" id="btnConfirm">확인</button>
        </div>
        <div class="join-modal-wrap">
            <div class="login-modal">
                <div class="login-modal-top">
                    <button class="join-modal-close"><span class="material-icons" id="close">close</span></button>
                    <h2>개인정보 수집 및 이용안내(선택)</h2>
                    <table class="join-tou-table">
                        <tr>
                            <th width="20%">구분</th>
                            <th width="30%">수집항목</th>
                            <th width="50%">이용목적</th>
                        </tr>
                        <tr>
                            <td>기타서비스</td>
                            <td>휴대폰 번호</td>
                            <td>헤택/정보/웨이팅 안내 메세지 전송</td>
                        </tr>
                    </table>
                    <div class="join-tou-content">
                        <ul>
                            <li>개인정보의 보유 및 이용기간 : 회원 탈퇴 시 30일 뒤 또는 법정 의무 보유기간</li>
                            <li>선택사항의 동의를 거부하시는 경우에도 회원가입은 진행되오나, 부가서비스는 제한될 수 있습니다.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="join-modal-wrap-privacy">
            <div class="login-modal" sytle="overflow-y: scroll; height:500px";>
                <div class="login-modal-top">
                    <button class="join-modal-close"><span class="material-icons" id="close">close</span></button>
                    <div class="login-modal-title">
                        <h2>이용약관</h2>
                        <hr>
                        <div class="join-privacy-content">
                        이용 약관 수정 예정.
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <script src="/js/join.js">
    </script>
</body>
</html>
