<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>find id</title>
<link rel="stylesheet" href="/css/searchIdFrm.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="content-wrap">
		<div class="content-title">FIND ID</div>
		<div class="radio-wrap">
			<label><input type="radio" name=searchId value="email" checked="checked">이메일</label>
			<label><input type="radio" name=searchId value="phone">휴대폰번호</label>
		</div>
		<div class="form-wrap">
	    <form action="/member/searchId" method="post">
	        <div class="input-box">
	            <input type="text" id="memberName" name="memberName" placeholder="회원가입시 입력한 이름을 입력해주세요." required>
	        </div>
	        <div class="input-box">
	            <input type="text" id="memberEmail" name="memberEmail" placeholder="회원가입시 입력한 이메일주소를 @를 포함하여 입력해주세요." required>
	        </div>
	        <div class="searchId-Btn">
	            <button type="submit">아이디 조회</button>
	        </div>
	    </form>
	    </div>
	    <div class="form-wrap2">
	    <form action="/member/searchId2" method="post">
	        <div class="input-box">
	            <input type="text" id="memberName" name="memberName" placeholder="회원가입시 입력한 이름을 입력해주세요." required>
	        </div>
	        <div class="input-box">
	            <input type="text" id="memberPhone" name="memberPhone" placeholder="회원가입시 입력한 휴대폰 번호를 입력해주세요.ex)010-0000-0000" required>
	        </div>
	        <div class="searchId-Btn">
	            <button type="submit">아이디 조회</button>
	        </div>
	    </form>
	    </div>
	    
	 </div>
	 <th:block th:include="common/footer"></th:block>
	 <script>
	 	$('input[type=radio][name=searchId]').on('click',function(){
	 		var chkValue = $('input[type=radio][name=searchId]:checked').val();
	 	if(chkValue == 'email') {
	 		$('.form-wrap').css('display','block');
	 		$('.form-wrap2').css('display','none');
	 	}
	 	else {
	 		$('.form-wrap').css('display','none');
	 		$('.form-wrap2').css('display','block');
	 	}
	 	
	 	});
	 	
	 </script>
</body>
</html>