<!DOCTYPE html>
<html　xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/magazineView.css">
<title>커뮤니티</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
		<div class="content-wrap">
			<div class="content-title" th:text="${m.magazineTitle}"></div>
			
			<div class="magazine-content1">
				<span class="magazine-subtitle-span">"</span>
				<span class="magazine-subtitle-span" th:text="${m.magazineSubtitle}"></span>
				<span class="magazine-subtitle-span">"</span>
			</div>
			<div class="magazine-content-num" th:text="${m.magazineNo}">글번호</div>
			
			<hr class="magazine-hr1 magazinehr">
			<div class="magazine-storename" th:text="${m.magazineStorename}">양나민 대장과 아이들</div>
			<hr class="magazine-hr2 magazinehr">
			<br>
			<br>
			<!-- 
			<div class="magazine-image">
				<img class="magazine-img">
			</div>
			 -->
			<div class="magazine-content-wrap">
				<div class="magazine-content" th:utext="${m.magazineContent}">
				</div>
			</div>
			<div th:if="${session.m !=null && session.m.memberNo == m.memberNo}" style="text-align:center; margin: 50px 0 30px 0;">
				<a class="btn-o magazineViewBtn" th:href="@{/magazine/magazineUpdateFrm(magazineNo=${m.magazineNo})}" style="width:49%;">수정</a>
				<button class="btn magazineViewBtn" th:onclick="magazineDelete([[${m.magazineNo}]])" style="width:49%;">삭제</button>
			</div>
		</div>
	<th:block th:include="common/footer"></th:block>
	<script>
	function magazineDelete(magazineNo){
		if(confirm("게시글을 삭제하시겠습니까?")){
			location.href="/magazine/delete?magazineNo="+magazineNo;
		}
	}
	</script>
</body>
</html>