<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>매거진 게시판</title>
<link rel="stylesheet" href="/css/magazineList.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
		<div class="content-wrap">
			<div class="content-title">Magazine 게시판</div>
				<div class="magazine-input">
					<a th:if="${session.m != null && session.m.memberLevel == 1}" href="/magazine/magazineWriteFrm" class="btn" style="margin-right:10px;">글쓰기</a>
				</div>
				<div class="magazine-container">

				</div>	
				<div class=button-box>		
					<button class="btn-more" id="magazine-more-btn"
							th:totalCount="${totalCount}"
							currentCount="0"
							value="1"		
							>더보기</button>
				</div>
		</div>
	<th:block th:include="common/footer"></th:block>
	<script>
	
		$("#magazine-more-btn").on("click",function(){
			const start = $(this).val();
			const amount = 3;
			const end = Number(start)+amount-1;
			$.ajax({
				url : "/magazine/more",
				type :"post",
				data : {start:start,end:end},
				success : function(data){
					for(let i=0; i<data.length; i++){
						const magazine = data[i];
						const div = $("<div>");
						
						div.addClass("magazine-item");
												
						const imgDiv = $("<div>");
						imgDiv.addClass("magazine-item-img")
						
						const a = $("<a>")
						a.attr("href","/magazine/view?magazineNo="+magazine.magazineNo)
						const img = $("<img>");
						img.attr("src","/magazine/"+magazine.filepath);
						a.append(img);
						imgDiv.append(a);
						/*
						<div class="magazine-item-img">
							<img src="파일경로">
						</div>
						*/
						
						const contentDiv = $("<div>");
						contentDiv.addClass("info");
			
						const title = $("<h3>");
						contentDiv.addClass("h3");
						title.text(magazine.magazineTitle);
						const subcontent = $("<p>");
						subcontent.text(magazine.magazineSubtitle);
						
						contentDiv.append(title).append(subcontent);
						
						div.append(imgDiv).append(contentDiv);
					
						$(".magazine-container").append(div);
					}
					
					
					const currentVal= Number($("#magazine-more-btn").val());
					$("#magazine-more-btn").val(currentVal+amount);
					
					const currentCount = Number($("#magazine-more-btn").attr("currentCount"));
					
					const changeCount = currentCount+data.length;
					$("#magazine-more-btn").attr("currentCount",changeCount);
					
					const totalCount = Number($("#magazine-more-btn").attr("totalCount"));
					if(totalCount == changeCount){
						$("#magazine-more-btn").remove();
					}
					
					
					
				}
			});
		});
		
		//시작시 기본3개보임
		$(document).ready(function(){
		    $("#magazine-more-btn").trigger('click'); 
		});
	</script>
</body>
</html>