<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>매거진 게시판</title>

<link rel="stylesheet" href="/css/magazineList.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
		<div class="content-wrap">
			<div class="content-title">Magazine 게시판</div>
			<a th:if="${session.m != null && session.m.memberLevel == 2}" href="/magazine/magazineWriteFrm" class="btn">글쓰기</a>
			
			<div class="magazine-container">

			</div>	
					<div class=button-box>		
						<button class="btn-more" id="magazine-more-btn"
						th:totalCount="${totalCount}"
						currentCount="0"
						value="1"		
						>더보기</button>
					</div>
		</div>
	<th:block th:include="common/footer"></th:block>
	<script>
		$("#magazine-more-btn").on("click",function(){
			const start = $(this).val();
			const amount = 3;
			const end = Number(start)+amount-1;
			$.ajax({
				url : "/magazine/more",
				type :"post",
				data : {start:start,end:end},
				success : function(data){
					for(let i=0; i<data.length; i++){
						const magazine = data[i];
						const div = $("<div>");
						div.addClass("magazine-item");
												
						const imgDiv = $("<div>");
						imgDiv.addClass("magazine-item-img")

						
						const img = $("<img>");
						img.attr("src","/magazine/"+magazine.filepath);
						imgDiv.append(img);
						/*
						<div class="magazine-item-img">
							<img src="파일경로">
						</div>
						*/
						//a태그 추가
						/*
						const a = $("<a>");
						img.attr("th:href","@{/magazine/view(magazineNo=${m.magazineNo})}"");
						imgDiv.append(a)
						*/
						const contentDiv = $("<div>");
						contentDiv.addClass("magazine-item-content");
						
						const title = $("<p>");
						title.text(magazine.magazineTitle);
						
						contentDiv.append(title);
						
						div.append(imgDiv).append(contentDiv);
					
						$(".magazine-container").append(div);
					}
					
					
					const currentVal= Number($("#magazine-more-btn").val());
					$("#magazine-more-btn").val(currentVal+amount);
					
					const currentCount = Number($("#magazine-more-btn").attr("currentCount"));
					
					const changeCount = currentCount+data.length;
					$("#magazine-more-btn").attr("currentCount",changeCount);
					
					const totalCount = Number($("#magazine-more-btn").attr("totalCount"));
					if(totalCount == changeCount){
						$("#magazine-more-btn").remove();
					}
					
				}
			});
		});
	</script>
</body>
</html>