<!DOCTYPE html>
<html　xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/magazineView.css">
<title>상세보기</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
		<div class="content-wrap">
			<div class="content-title" th:text="${m.magazineTitle}"></div>
			
			<div class="magazine-content1">
				<span class="magazine-subtitle-span">"</span>
				<span class="magazine-subtitle-span" th:text="${m.magazineSubtitle}"></span>
				<span class="magazine-subtitle-span">"</span>
			</div>
			<div class="magazine-content-num" th:text="${m.magazineNo}">글번호</div>
			
			<hr class="magazine-hr1 magazinehr">
			<div class="magazine-storename" th:text="${m.magazineStorename}">양나민 대장과 아이들</div>
			<hr class="magazine-hr2 magazinehr">
			<div class="magazine-image">
				<img class="magazine-img">
			</div>
			<div class="magazine-content" th:utext="${m.magazineContent}">
				
				"내용내용내용내용"<br>
				영업시간|등등<br>
				주소|등등
			</div>
			<div>
				<a class="btn magazineViewBtn" th:href="@{/magazine/magazineUpdateFrm(magazineNo=${m.magazineNo})}">수정</a>
				<button class="btn magazineViewBtn" th:onclick="magazineDelete([[${m.magazineNo}]])">삭제</button>
			</div>
		</div>
	<th:block th:include="common/footer"></th:block>
</body>
</html>