@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 
색상
#ff3700ff; -- 포인트컬러
#eee; -- 회색
#2f2f2f; -- 글씨 기본색
*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #2f2f2f;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    outline: none;
    font-size: 16px;
}

/*중앙정렬 - 컨텐츠 가장 바깥 div 클래스*/
.content-wrap{
    width: 1200px;
    margin: 60px auto;
    box-sizing: border-box;
}

/*제목공통클래스*/
.content-title{
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    font-weight: 200;
    padding: 80px 0 50px 0;
    display: block;
}

/*회색버튼*/
.btn{
    display: inline-block;
    padding: 10px;
    background-color: #eee;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}
/*회색버튼 hover 시 오랜지로 변경*/
.btn:hover{
    background-color: #ff3700ff;
    color: #fff;
    font-weight: 400;
}
/*오랜지색버튼*/
.btn-o{
    display: inline-block;
    padding: 10px;
    background-color: #ff3700ff;
    color: #fff;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.mypage-tab>ul{
	overflow:hidden;
}

/* tab */


.mypage-tab>li>a {
	width: calc(33.333% - 3px);
	height: 50px;
    line-height: 50px;
	float:left;
	text-align: center;
	background-color: #eee;
	cursor: pointer;
	margin-bottom: 30px;
	border-radius: 5px;
	margin-right: 3px; 
}
.mypage-tab>li>a.active-tab{
    color: white;
    background-color: #ff3700ff;
    font-weight: 400;
    width: calc(33.333% - 3px);
}

/*
.mypage-tab li a{
	width: calc(33.333% - 3px);
	height: 50px;
    line-height: 50px;
	float:left;
	text-align: center;
	background-color: #eee;
	cursor: pointer;
	margin-bottom: 30px;
	border-radius: 5px;
	margin-right: 3px; 
}
.mypage-tab li.active-tab{
	
    color: white;
    background-color: #ff3700ff;
    font-weight: 400;
}
.mypage-tab a.active-tab{
    color: white;
    background-color: #ff3700ff;
    font-weight: 400;
}
*/
.mypage-content{
	display:none;
}

table.mypage-table{
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
	}
	table.mypage-table th,td{
	    height: 40px;
	    padding:3px;
	}
	table.mypage-table th {
	    width: 30%;
	    text-align: left;
	    padding-left: 30px;
	}
	.first{
	    border-top: 1px solid #eee;
	}
	#bottom{
	    border-bottom: 1px solid #eee;
	}
	.mypage-input-form{
		box-sizing: border-box;
		padding-left: 20px;
	    width: 60%;
	    height:100%;
	    border: 1px solid #eee;
	}
	.hover:focus{
	border-color: #ff3700ff;
	outline :none;
	}
	.btn-wrap{
	text-align:center;
	margin: 60px 0 60px 0;
	}
	
.changeBtn {
	width: 100%;
	height: 50px;
	border: none;
	border-radius: 5px;
}
.admin-btn{
	background-color: #ff3700ff !important; 
	color : white;
	border: none;
	font-weight: 400;
}

	