
.place-wrapper{
    width: 1200px;
    margin: 60px auto;
    padding: 100px 0;
    box-sizing: border-box;
}
/* .aroundPlace-title{
    text-align: center;
} */
.search-box{
    overflow: hidden;
    left: 50px;
    padding-left: 200px;
}
.search-box>*{
    float: left;
}
.search-box>span{
    display: block;
    font-size: 26px;
    font-weight: 600;
    line-height: 50px;
    
}
#searchPlace{
    width: 300px;
    height: 50px;
    font-size: 24px;
    border: none;
    border-bottom: 5px solid #eee;
    box-sizing: border-box;
    padding-left: 20px;
}
#searchBtn{
    border: none;
    background-color: #ff3700ff;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 10px;
}
#searchBtn>span{
    font-size: 30px;
    line-height: 50px;
    color: #eee;
}
/*
.around-map{
    width: 100%;
    height: 400px;
    background-color: lightseagreen;
    margin: 50px auto;
}
*/
.aroundPlace-content>ul{
    list-style-type: none;
    overflow: hidden;
}
.aroundPlace-list{
    float: left;
    width: calc(100%/3);
    height: 450px;
    box-sizing: border-box;
    padding: 20px;
}
.aroundPlace-list>a{
    display: block;
    text-decoration: none;
    color: black;
}
.aroundPlace-list>a:hover{
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
}
.imgBox{
    width: 90%;
    margin: 0 auto;
}
.imgBox>img{
    width: 100%;
}
.img-content{
    width: 80%;
    margin: 0 auto;
}
.img-content>h2{
	font-size:24px;
	font-weight:600;
}

.img-content>span{
    color: #ff3700ff;
    font-weight:500;
}


/*지도마커*/
.marker{
    background-color: #fff;
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    top:-108px;
}
.marker-last-box{
    background-color: #fff;
    width: 30px;
    height: 30px;
    rotate: 45deg;
    position: absolute;
    bottom: -15px;
    left: calc(50% - (30px/2));
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.close>span{
	color: #ccc;
}
.marker-box{
    overflow: hidden;
}
.marker-l{
    width: 30%;
    height: 80px;
    border-radius: 5px;
    float: left;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.marker-r{
    width: 70%;
    float: left;
    box-sizing: border-box;
}
.marker-r>div{
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.marker-r>div{
    padding: 5px;
}
.marker-r>div:first-child{
    font-size: 18px;
    font-weight: 600;
    color: #ff3700ff;
}
.marker-r>div:last-child{
    font-size: 14px;
    font-weight: 400;
}