
.place-wrapper{
    width: 1200px;
    margin: 60px auto;
    padding: 100px 0;
    box-sizing: border-box;
}
/* .aroundPlace-title{
    text-align: center;
} */
.search-box{
    overflow: hidden;
    left: 50px;
    padding-left: 200px;
}
.search-box>*{
    float: left;
}
.search-box>span{
    display: block;
    font-size: 26px;
    font-weight: 600;
    line-height: 50px;
    
}
#searchPlace{
    width: 300px;
    height: 50px;
    font-size: 24px;
    border: none;
    border-bottom: 5px solid #eee;
    box-sizing: border-box;
    padding-left: 20px;
}
#searchBtn{
    border: none;
    background-color: #ff3700ff;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 10px;
}
#searchBtn>span{
    font-size: 30px;
    line-height: 50px;
    color: #eee;
}
/*
.around-map{
    width: 100%;
    height: 400px;
    background-color: lightseagreen;
    margin: 50px auto;
}
*/
.aroundPlace-content>ul{
    list-style-type: none;
    overflow: hidden;
}
.aroundPlace-list{
    float: left;
    width: calc(100%/5);
    box-sizing: border-box;
    padding: 20px;
}
.aroundPlace-list>a{
    display: block;
    text-decoration: none;
    color: black;
}
.imgBox{
    width: 90%;
    margin: 0 auto;
}
.imgBox>img{
    width: 100%;
}
.img-content{
    width: 80%;
    margin: 0 auto;
}
.img-content>:first-child{
    font-size: 24px;
    font-weight: 600;
}
.img-content>:nth-child(2){
    color: #ff3700ff;
}