
/*카테고리 탭*/
.board-tab{
    overflow: hidden;
    margin: 40px 0 20px 0;
}
.board-tab>li>a{
    float: left;
    width: 25%;
    padding: 15px;
    background-color: #eee;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #fff;
}
.active-tab{
    background-color: #ff3700ff;
    color: #fff;
    font-weight: 400;
}

/*리스트 내비게이션*/
.board-navi{
    margin-top: 50px;
}
.board-navi>ul{
    overflow: hidden;
    width: 36%;
    margin: 0 auto;
}
.board-navi li{
    float: left;
    margin: 0 10px;
}
.board-navi li>a{
    display: block;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
}
.board-navi li>a:hover{
    color: #ff3700ff;
}
.board-navi li>a:hover>span{
    color: #ff3700ff;
}