
/*카테고리 탭*/
.board-tab{
    overflow: hidden;
    margin: 40px 0 20px 0;
}
.board-tab>li>a{
    float: left;
    width: 25%;
    padding: 15px;
    background-color: #eee;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #fff;
}
.active-tab{
    background-color: #ff3700ff;
    color: #fff;
    font-weight: 400;
}
