@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 
폰트 이거 복사해서 쓰세요
font-family: 'Noto Sans KR', sans-serif;

색상
#ff3700ff; -- 포인트컬러
#eee; -- 회색
#2f2f2f; -- 글씨 기본색
*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #2f2f2f;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    outline: none;
    font-size: 16px;
}

/*중앙정렬 - 컨텐츠 가장 바깥 div 클래스*/
.content-wrap{
    width: 1200px;
    margin: 60px auto;
    box-sizing: border-box;
    min-height: calc(100vh - 350px);
}

/*제목공통클래스*/
.content-title{
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    padding: 80px 0 50px 0;
    display: block;
}

/*회색버튼*/
.btn{
    display: inline-block;
    padding: 10px;
    background-color: #eee;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    transition-duration: 500ms;
}
/*회색버튼 hover 시 오랜지로 변경*/
.btn:hover{
    background-color: #ff3700ff;
    color: #fff;
    font-weight: 400;
}
/*오랜지색버튼*/
.btn-o{
    display: inline-block;
    padding: 10px;
    background-color: #ff3700ff;
    color: #fff;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    transition-duration: 500ms;
}


/*배경색 회색설정*/
.b-color-g{
    background-color: #eee;
}
/*배경색 오랜지설정&하얀색글씨*/
.b-color-o{
    background-color: #ff3700ff;
    color: #fff;
}


/*input*/
.input{
    width: 100%;
    border: none;
    background-color: transparent;
}

/*text-area - input클래스랑 같이 써야함*/
.textarea{
    height: 600px;
}
/*select - input클래스랑 같이 써야함*/
.select{
    cursor: pointer;
    text-align: center;
}





/*테이블 테두리 추가*/
.tbl-border{
    border: 1px solid #eee;
}

/*테이블*/
.tbl{
    width: 100%;
    text-align: center;
    border-collapse : collapse;
}
.tbl tr{
    border-bottom: 1px solid #eee;
}
.tbl th{
    font-weight: 400;
    padding: 10px;
}
.tbl td{
    padding: 10px;
}
.tbl tr.hover:hover>td,
.tbl tr.hover:hover>td>a{
    color: #ff3700ff;
    font-weight: 400;
}
.textarea-td{
    height: 400px;
    box-sizing: border-box;
    padding: 10PX;
    border: 1px solid #eee;
    border-radius: 5px;
}


/*리스트 내비게이션*/
.board-navi{
    margin-top: 50px;
}
.board-navi>ul{
    overflow: hidden;
    width: 36%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
}
.board-navi li{
    float: left;
    margin: 0 10px;
}
.board-navi li>a{
    display: block;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    transition-duration: 500ms;
}
.board-navi li>a:hover{
    color: #ff3700ff;
}
.board-navi li>a:hover>span{
    color: #ff3700ff;
}

.active-page{
    color: #ff3700ff;
}


.clear{
    clear: both;
}



/*지도마커*/
.marker{
    background-color: #fff;
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    top:-108px;
}
.marker-last-box{
    background-color: #fff;
    width: 30px;
    height: 30px;
    rotate: 45deg;
    position: absolute;
    bottom: -15px;
    left: calc(50% - (30px/2));
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.close>span{
	color: #ccc;
}
.marker-box{
    overflow: hidden;
}
.marker-l{
    width: 30%;
    height: 80px;
    border-radius: 5px;
    float: left;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.marker-r{
    width: 70%;
    float: left;
    box-sizing: border-box;
}
.marker-r>div{
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.marker-r>div{
    padding: 5px;
}
.marker-r>div:first-child{
    font-size: 18px;
    font-weight: 600;
    color: #ff3700ff;
}
.marker-r>div:last-child{
    font-size: 14px;
    font-weight: 400;
}
.content-wrap>.box{
	background-color: #f9f9f9;
	border-radius: 10px;
	line-height: 350px;
	padding: 0;
}


