
.detail-wrap{
    width: 1200px;
    padding-top: 100px;
}
.restaurant_title{
    overflow: hidden;
}
.title_header{
    float: left;
    overflow: hidden;
}
.title_header>h1{
	float:left;
}
/*평점*/
.star{
	float:left;
	display: flex;
	align-items:center;
}
.star>span:first-child{
    font-size: 45px;
}
.star>span{
    color: #ff3700ff;
    font-size: 40px;
    font-weight: 500;
}
.title_header>h1{
    font-size: 40px;
    display: inline-block;
    margin-right: 20px;
    font-weight: 700;
}
.title_header>span{
    font-size: 40px;
    color: #ff3700ff;
}
.review_icons{
    overflow: hidden;
}
.review_icons>div{
    float: right;
    width: 10%;
    text-align: center;
}
.reviewBtn>span{
    font-size: 40px;
}
.icon1>a:hover>div>span{
	color:#ff3700ff;
	font-weight:600;
}

.save{
	cursor: pointer;
	background: transparent;
	border: none;
}
.save>.material-icons{
	font-size: 40px;
}
.icon2:hover>button>span{
	color:#ff3700ff;
	font-weight:500;
}
.icon2:hover>div>span{
	color:#ff3700ff;
	font-weight:500;
}
.icon2:hover{
    cursor: pointer;
}

.restaurant_content{
    overflow: hidden;
    padding: 60px 0 30px 0;
}
.restaurant_info{
    width: 50%;
    float: left;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee;
    box-sizing: border-box;
}

.detailRestaurant_map{
    width: 48%;
    float: right;
    height: 350px;
}
.info-tbl{
    width: 100%;
}
.info-tbl th{
    padding: 15px;
    text-align: left;
    width: 20%;
}
/*예약하기 버튼*/

.btn-o:hover{
	font-weight: 700;
}

/*리뷰 리스트*/
.restaurant_reviewList{
    margin: 50px 0;
    border-top: 1px solid #eee;
}
.reviewList_title{
    padding: 30px;
}
.reviewList_title>h2{
	font-size:36px;
}

.review_content_img{
    width: 200px;
}
.reviewList_content_check{
    overflow: hidden;
    margin: 50px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.reviewList_content_check>li{
    float: left;
    height: 200px;
}
.reviewList_content_check>li:first-child{
    width: 20%;
    text-align: center;
    line-height: 200px;
}
.reviewList_content_check>li:first-child>span{
    font-size: 20px;
    font-weight: 500;
}
.reviewList_content_check>li:nth-child(2){
    width: 50%;
}
.reviewList_content_check>li:nth-child(2)>p>span{
	font-weight: 500;
}

.reviewList_content_check>li:nth-child(3){
    width: 20%;
    text-align: right;
}

.reviewList_content_check>li:last-child{
	width: 10%;
	text-align: center;
}
#span{
	font-size: 50px;
	color: #ff3700ff;
}
.review_detail_content{
    padding-top: 20px;
}