*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #2f2f2f;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    outline: none;
    font-size: 16px;
}
.content-wrap{
    width: 1200px;
    margin: 60px auto;
    box-sizing: border-box;
    min-height: calc(100vh - 350px);
}

