.header-wrap{
    background-color: #ff3700ff;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.center-wrap{
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}

.header-wrap .center-wrap>div{
    float: left;
}

/*헤더 - 로고*/
.header-left {
    width: 20%;
    box-sizing: border-box;
}
.header-left img{
    width: 100%;
    margin-top: 10px;
}

/*헤더 - 메뉴*/
.header-center {
    width: 68%;
    box-sizing: border-box;
}
.header-center ul{
    overflow: hidden;
    text-align: center;
    padding: 0 108px;
}
.header-center li{
    float: left;
    text-align: center;
}
.header-center li>a{
    font-size: 18px;
    display: block;
    width: 120px;
    font-weight: 400;
    line-height: 60px;
    color: #fff;
    transition-duration: 500ms;
}
.header-center li>a:hover{
    background-color: white;
    color: #ff3700ff;
}

/*헤더 - 오른쪽 메뉴들*/
.header-right {
    width: 12%;
    box-sizing: border-box;
}
.header-right>ul{
    text-align: right;
}
.header-right li{
    display: inline-block;
}
.header-right li>a{
    display: block;
}
.header-right li span{
    font-size: 28px;
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
    color: #fff;
    transition-duration: 500ms;
}
.header-right li span:hover{
    border-radius: 30px;
    background-color: #fff;
    color: #ff3700ff;
}
.header-right li .hover{
	border-radius: 30px;
    background-color: #fff;
    color: #ff3700ff;
}

/*헤더 - 검색창*/
.header-search-box{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px 0;
    display: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3)
}
.header-search-box>div{
    width: 600px;
    margin: 0 auto;
}
.search-input{
	display: flex;
	align-item: center;
}
.search-input>input{
    border: none;
    border-bottom: 1px solid #2f2f2f;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0;
    width: 90%;
}
input::placeholder {color:#ccc;}
input::-webkit-input-placeholder {color:#ccc;}
input:-ms-input-placeholder {color:#ccc;}
.search-input>button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.search-input>button:hover>span{
    color: #ff3700ff;
}
.search-input>button>span{
    font-size: 40px;
}
.header-search-box p{
    margin: 15px 0 10px 0;
    font-weight: 600;
     font-size: 18px;
}
.header-search-box ul{
    overflow: hidden;
}
.header-search-box li>button{
    float: left;
    margin-right: 5px;
    padding: 5px 15px;
    border: 1px solid #ff3700ff;
    color: #ff3700ff;
    border-radius: 30px;
    cursor: pointer;
    background-color: transparent;
    font-weight: 500;
}
.header-search-box li:hover>button{
    background-color: #ff3700ff;
    color: #fff;
}







