@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*
폰트
font-family: 'Noto Sans KR', sans-serif;
*/
*{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        color: #2f2f2f;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 300;
        outline: none;
        font-size: 13px;
}

.join-title{
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    font-weight: 200;
    padding: 80px 0 50px 0;
    display: block;
}
.span-wrap {
    text-align: right;
    font-size: 14px;
    color: #2F2F2F;
}
span {
    color: #ff3700ff;
    padding-top: 2px; 
}
.join-wrap{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* 테이블 */
.join-table{
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
    margin-top: 5px;
}
td{
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}
.join-th{
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}
.join-input-form{
    width: 400px;
    height: 40px;
    background-color: white;
    border: 1px solid #eee;
    color: #2F2F2F;
    font-size: 12px;
    padding-left: 20px;
    margin-top: 10px;
}
.join-select-box{
    width: 200px;
    height: 42px;
}
.join-th-end{
    border : none;
    padding-left: 20px;
}
.join-td-end{
    border : none;
}

/* 약관동의 */
.join-ul>li{
    background-color: #eee;
    list-style: none;
    padding-left: 20px;
    text-align: left;
    height: 40px;
    margin-bottom: 2px;
    line-height: 40px;
    font-size: 15px;
    position: relative;
}
#join_agreementAll{
    background-color: white;
    padding-bottom: 60px;
}
#allAgreement{
    color: #2F2F2F;
    font-weight: 400;
    font-size: 18px;
}
.join-allAgreeContent>p{
    text-align: left;
    padding-left: 10px;
    margin: 0px 0px 0px 0px; line-height: 120%;
}
#essential{
    color : black;
    font-size : 13px;
    font-weight: 500;
}
#option{
    color: #2F2F2F;
    font-size: 13px;
}
.join-btn-class{
	text-align: center;
	height: 100px;
}

/* 버튼 디자인*/
.join-btn-class>button{
    display: inline-block;
    padding: 10px;
    background-color: #eee;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 50px 0 100px 0px;
    height: 45px;
    border:none;
}


.join-ul>li>button{
    position:absolute;
    top: calc(50% - (50%/1.3));
    right: 20px;
    background-color: white;
    border: 1px solid #2F2F2F;
    padding: 2px;
}



/*모달*/
body{
    margin: 0;
}
.join-modal-wrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.login-modal{
    width: 500px;
    background-color: #fff;
    padding: 30px;
}
.login-modal-top>h2{
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.join-tou-table{
    width: 100%;
    border-collapse: collapse;
}
.join-tou-table th{
    border: 1px solid #2F2F2F;
}
.join-tou-table td{
    vertical-align:bottom;
    text-align: center;
    height: 30px;
    border: 1px solid #2F2F2F;
}
.join-tou-content>ul{
    margin-top : 30px;
    margin-bottom : 50px;
}
.join-tou-content li{
    margin-left: 20px;
    text-align: left;
    color: black;
    list-style: disc ;
}
/* 모달 X버튼 */
.join-modal-close{
    background-color: white;
    border: none;
    float: right;
}
#close{
    color: #2F2F2F;
}
.noshow { 
    display: none;
}


/*모달*/
body{
    margin: 0;
}
.join-modal-wrap-privacy{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.login-modal{
    width: 500px;
    background-color: #fff;
    padding: 30px;
}
.login-modal-title>h2{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.join-tou-table{
    width: 100%;
    border-collapse: collapse;
}
.join-tou-table th{
    border: 1px solid #2F2F2F;
}
.join-tou-table td{
    vertical-align:bottom;
    text-align: center;
    height: 30px;
    border: 1px solid #2F2F2F;
}
.join-tou-content>ul{
    margin-top : 30px;
    margin-bottom : 50px;
}
.join-tou-content li{
    margin-left: 20px;
    text-align: left;
    color: black;
    list-style: disc ;
}
/* 모달 X버튼 */
.join-modal-close{
    background-color: white;
    border: none;
    float: right;
}
#close{
    color: #2F2F2F;
}
.join-privacy-content{
    margin-top : 30px;
    overflow: auto;
    height: 500px;
    padding: 20px;
    border: 1px solid #eee;
    font-size: 12px;
}
.join-privacy-content>*{
    text-align: left;
}


/*아이디 중복체크 버튼*/
.join-idChkbtn{
    border:none;
    background-color: #eee;
    width: 120px;
    border-radius: 5px;
    height: 42px;
    margin-left: 5px;
}
