.location-btn{
    overflow: hidden;
}

.location-btn .btn{
    width: 300px;
    float: left;
    box-sizing: border-box;
    border: 1px solid #fff;
    font-weight: 400;
}




/*소제목*/
.sub-title{
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    margin-top: 80px;
    padding-top: 30px;
    border-top: 1px solid #eee;
}
/*지도*/
.location-map{
    background-color: blanchedalmond;
    width: 100%;
    height: 300px;
    margin: 30px 0;
}


/*리스트 출력*/
.location-content-wrap{
    overflow: hidden;
}
.location-content{
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
    width: 50%;
    float: left;
    border: 1px solid #eee;
}
.location-content:nth-child(2n){
    border-left: none;
}
.location-content>a{
    display: block;
    overflow: hidden;
    width: 100%;
}
.location-img-box{
    float: left;
}
.location-img-box>img{
    width: 300px;
    height: 150px;
}

.location-content-info{
    float: left;
    padding-left: 10px;
    box-sizing: border-box;
    position: relative;
    height: 150px;
    overflow: hidden;
}
.location-content-info>p:first-child{
    font-size: 20px;
    font-weight: 500;
}

.star{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 10px;
}
.star>span:first-child{
    font-size: 26px;
}
.star>span{
    color: #ff3700ff;
    font-size: 22px;
    font-weight: 500;
}

.location-content-wrap::after{
    content: "";
    display: block;
    clear: both;
}