
.magazine-input{
	text-align: right;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-more{
    display: inline-block;
    padding: 10px;
    background-color: #eee;
    width: 400px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}
.button-box{
    text-align: center;
    margin-top: 50px;
}
.btn-more:hover{
    background-color: #ff3700ff;
    color: #fff;
    font-weight: 400;
}


.magazine-container{
    width: 1200px; 
    display: flex;
    align-items: left;
    justify-content: center;
    flex-wrap: wrap;
}
.magazine-item {
    position: relative;
    background: #fff;
    width: 370px; 
    height: 300px;
    margin:10px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
.magazine-item-img{
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.magazine-item-content{
    content: '';
    background: #fff;
    width: 0px; height: 1px;
    position: absolute; right: 20px; top: 20px;
    transition: all 0.35s ease;
}
.magazine-item:after {
    content: ' ';
    background: #000;
    width: 3px; height: 0px;
    position: absolute; right: 20px; top: 20px;
    transition: all 0.35s ease;
}
.magazine-item:before {
  content: ' ';
  background: #000;
  width: 0px; height: 3px;
  position: absolute; right: 20px; top: 20px;
  transition: all 0.35s ease;
}

.magazine-item .info{
    position: absolute; left: 0; bottom: 0;
    color: #fff;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.magazine-item .info h3 {
	font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 3px;
}
.magazine-item .info p {
    font-size: 16px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}
.magazine-item:hover .info {
    opacity: 1;
}
.magazine-item:hover img {
    opacity: 0.2;
}
.magazine-item:hover:before {
    width: 80px;
}
.magazine-item:hover:after {
    height: 80px;
    
}