.content-title{
    padding-top: 150px;
}

/*메인배너*/
.swiper-main{
    width: 100%;
    min-width: 1200px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    margin-top: 60px;
}
.swiper-main .swiper-slide>a{
    display: block;
    height: 600px;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.main-textBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    padding-left: 100px;
}
.main-textBox>p{
    color: #fff;
    font-weight: 600;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    margin: 5px 0;
}
.main-textBox>p:first-child{
    font-size: 52px;
}
.main-textBox>p:last-child{
    font-size: 32px;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    color: #fff
}
.swiper-pagination{
    bottom: 10px;
}
.swiper-pagination-bullet{
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #fff;
}


/*베스트*/
.main-content-best{
    overflow: hidden;
}
.main-content-best::after{
    display: block;
    content: "";
    clear: both;
}
.best-box{
    width: 25%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.img-box{
    width: 100%;
    height: 280px;
    background-color: #eee;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.info-box{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}
.info-box>span{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
.info-box>div{
    display: flex;
    align-items: center;
}
.info-box>div>span{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
.info-box>div>span:first-child{
    font-size: 28px;
    margin-right: 5px;
}
.best-box:hover span{
    transition-duration: 500ms;
}
.best-box:hover span{
    color: #ff3700ff;
}

/*매거진*/
.swiper-magazine{
    width: 100%;
    height: 400px;
    overflow: hidden;
	position: relative;
}
.swiper-magazine .swiper-slide{
    transform: scale(0.9);
    height: 400px;
    transition:all 200ms linear;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.swiper-magazine .swiper-slide-active{
    transform: scale(1);
}
.swiper-magazine .swiper-slide-active .blind{
    background-color: transparent;
}
.blind{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
}
.magazine-info{
	position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}



/*지역별맛집*/
.main-content-location{
    overflow: hidden;
}
.main-content-location::after{
    display: block;
    content: "";
    clear: both;
}
.main-content-location>div{
    float: left;
    margin: 20px;
}
.main-content-location>div>a,
.main-content-location>div>button{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    text-align: center;
    line-height: 200px;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition-duration: 500ms;
    border: none;
    cursor: pointer;
}
.main-content-location>div>a:hover,
.main-content-location>div>button:hover{
	transform: scale(1.1);
	color: #ff3700ff;
}
