@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 
색상
#ff3700ff; -- 포인트컬러
#eee; -- 회색
#2f2f2f; -- 글씨 기본색
*/

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #2f2f2f;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    outline: none;
    font-size: 16px;
}

/*중앙정렬 - 컨텐츠 가장 바깥 div 클래스*/
.content-wrap{
    width: 1200px;
    margin: 60px auto;
    box-sizing: border-box;
}

/*제목공통클래스*/
.content-title{
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    font-weight: 200;
    padding: 80px 0 50px 0;
    display: block;
}

/*회색버튼*/
.btn{
    display: inline-block;
    padding: 10px;
    background-color: #eee;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}
/*회색버튼 hover 시 오랜지로 변경*/
.btn:hover{
    background-color: #ff3700ff;
    color: #fff;
    font-weight: 400;
}
/*오랜지색버튼*/
.btn-o{
    display: inline-block;
    padding: 10px;
    background-color: #ff3700ff;
    color: #fff;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}

.mypage-tab>ul{
	overflow:hidden;
}

/* tab */
.mypage-tab>li{
	width: calc(33.333% - 3px);
	height: 50px;
    line-height: 50px;
	float:left;
	text-align: center;
	background-color: #eee;
	cursor: pointer;
	margin-bottom: 30px;
	border-radius: 5px;
	margin-right: 3px; 
}
.mypage-tab>li.active-tab{
    color: white;
    background-color: #ff3700ff;
    font-weight: 400;
}

.mypage-content{
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #eee;
}
.mypage-img-box{
    float: left;
    width: 150px;
    height: 150px;
    background-color: #eee;
    float:left;
    box-sizing: border-box;
}

.info{
    float:left;
    box-sizing: border-box;
    width: calc(100% - 240px);
    height: 150px;
    padding-left: 10px;
    position: relative;
}
.info>p:first-child{
    font-size: 24px;
    font-weight: 600;
}
.info>p:nth-child(2){
    font-size: 18px;
    font-weight: 500;
}
.star{
    position: absolute;
    bottom: 0;
    left: 10px;
}
.save{
    position: absolute;
    border: none;
    background-color: transparent;
    right: 10px;
    top: 10px;
}
.save>span{
    font-size: 32px;
    color: #eee;
}
.mypage-content>a::after{
    content: "";
    display: block;
    clear: both;
}
