<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>COME EAT</title>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!--슬라이더-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
    <!-- 메인 슬라이더 -->
    <div class="swiper-main">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <a href="/" style="background-image: url(/img/main/main1.jpg);">
                    <div class="main-textBox">
                        <p>런던베이글 뮤지엄 10% 할인</p>
                        <p>간단설명~~~~~~</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <div class="main-textBox">
                    <p>런던베이글 뮤지엄 10% 할인</p>
                    <p>간단설명~~~~~~</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="main-textBox">
                    <p>런던베이글 뮤지엄 10% 할인</p>
                    <p>간단설명~~~~~~</p>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

    
    <div class="content-wrap">
        <div class="content-title main-title">맛집 BEST</div>
        <di class="main-content-best">
            
        </di>

        <!-- 매거진 슬라이더 -->
        <div class="content-title main-title clear">매거진</div>
        <di class="main-content-magazine">
            <div class="swiper-magazine">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </di>

        <!-- 지역별 맛집 -->
        <div class="content-title main-title">지역별 맛집</div>
        <di class="main-content-location">
            <div>
                <a href="/location/aroundPlace" style="background-color:#eee">
                    내주변
                </a>
            </div>
            <div>
                <a href="/location/foodList?pageNo=1&lo=su" style="background-image: url(/img/main/su.jpg);">
                    서울
                </a>
            </div>
            <div>
                <a href="/" style="background-image: url(/img/main/main1.jpg);">
                    경기도
                </a>
            </div>
            <div>
                <a href="/" style="background-image: url(/img/main/main1.jpg);">
                    인천
                </a>
            </div>
            <div>
                <a href="/location/foodList?pageNo=1&lo=bs" style="background-image: url(/img/main/main1.jpg);">
                    부산
                </a>
            </div>
            <div>
                <a href="/" style="background-image: url(/img/main/main1.jpg);">
                    대구
                </a>
            </div>
            <div>
                <a href="/" style="background-image: url(/img/main/main1.jpg);">
                    김해
                </a>
            </div>
            <div>
                <a href="/" style="background-image: url(/img/main/main1.jpg);">
                    전주
                </a>
            </div>
            <div>
                <a href="/location/foodList?pageNo=1&lo=jn" style="background-image: url(/img/main/main1.jpg);">
                    전남
                </a>
            </div>
            <div>
                <a href="/location/foodList?pageNo=1&lo=su" style="background-color:#eee">
                   더보기
                </a>
            </div>
        </di>
    </div>
    <script src="/js/main.js"></script>
	<script>
 	window.onload = function(){
 		
 		//매거진
		const start = 1;
		const end = 6;
		$.ajax({
			url : "/magazine/more",
			type :"post",
			data : {start:start,end:end},
			success : function(data){
				for(let i=0; i<data.length; i++){
					const magazine = data[i];
					const div = $("<div>");
					div.addClass("swiper-slide");
					div.css("background-image","url(/magazine/"+magazine.filepath+")").css("cursor","pointer");
                	
					const divBl = $("<div>");
					divBl.addClass("blind");
					
					const title = $("<p>");
					title.addClass("magazine-info");
					title.text(magazine.magazineTitle);
					
					div.append(title).append(divBl);
					$(".swiper-magazine>.swiper-wrapper").append(div);
					
					div.on("click", function(){
						 location.href = "/magazine/view?magazineNo="+magazine.magazineNo;
					});
					
				}
				//슬라이더
				const magazineSwiper = new Swiper('.swiper-magazine', {
				    spaceBetween: 30,
				    slidesPerView : 2,
				    centeredSlides: true,
				    autoplay: {
				        delay: 1500
				    },
				    observer: true,
				    observeParents: true,
				    loopAdditionalSlides : 1,
				    loop: true,
				    navigation: {
				        nextEl: '.swiper-button-next',
				        prevEl: '.swiper-button-prev',
				    }
				});//슬라이더끝
			}
		});//매거진끝
		
		//인기맛집
		$.ajax({
			url : "/location/best",
			type :"get",
			success : function(data){
				for(let i=0; i<data.length; i++){
					const location = data[i];
					const div = $("<div>");
					div.addClass("best-box");
					
					const img = $("<div>");
					img.addClass("img-box").css("cursor","pointer");
					
					if(location.loThumb.indexOf("http") == -1 ){
						img.css("background-image","url(/img/location/"+location.loThumb+")");
					}else{
						img.css("background-image","url("+location.loThumb+")");
					}
                	
					const info = $("<div>");
					info.addClass("info-box");
					
					const title = $("<span>");
					title.text(location.loTitle);
					
					const grade = $("<div>");
					const star = $("<span>");
					star.addClass("material-icons").text("grade");
					const span = $("<span>");
					span.text(location.starRate);
					grade.append(star).append(span);
					info.append(title).append(grade);
					img.append(info);
					div.append(img);
					
					$(".main-content-best").append(div);
					
					img.on("click", function(){
						 location.href = "/review/detailRestaurant?loNo="+location.loNo;
					});
				}//for문종료
			}
		});//인기맛집끝
		
	}
	</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>