<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>COME EAT</title>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!--슬라이더-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
    <!-- 메인 슬라이더 -->
    <div class="swiper-main">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <a href="/" style="background-image: url(/img/main/main1.jpg);">
                    <div class="main-textBox">
                        <p>런던베이글 뮤지엄 10% 할인</p>
                        <p>간단설명~~~~~~</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <div class="main-textBox">
                    <p>런던베이글 뮤지엄 10% 할인</p>
                    <p>간단설명~~~~~~</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="main-textBox">
                    <p>런던베이글 뮤지엄 10% 할인</p>
                    <p>간단설명~~~~~~</p>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

    
    <div class="content-wrap">
        <div class="content-title main-title">맛집 BEST</div>
        <di class="main-content-best">
            <div class="best-box">
                <a href="/">
                    <div class="img-box"></div>
                    <div class="info-box">
                        <span>식당이름</span>
                        <div>
                            <span class="material-icons">grade</span>
                            <span>3.5</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="best-box">
                <a href="/">
                    <div class="img-box"></div>
                    <div class="info-box">
                        <span>식당이름</span>
                        <div>
                            <span class="material-icons">grade</span>
                            <span>3.5</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="best-box">
                <a href="/">
                    <div class="img-box"></div>
                    <div class="info-box">
                        <span>식당이름</span>
                        <div>
                            <span class="material-icons">grade</span>
                            <span>3.5</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="best-box">
                <a href="/">
                    <div class="img-box"></div>
                    <div class="info-box">
                        <span>식당이름</span>
                        <div>
                            <span class="material-icons">grade</span>
                            <span>3.5</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="best-box">
                <a href="/">
                    <div class="img-box"></div>
                    <div class="info-box">
                        <span>식당이름</span>
                        <div>
                            <span class="material-icons">grade</span>
                            <span>3.5</span>
                        </div>
                    </div>
                </a>
            </div>
        </di>

        <!-- 매거진 슬라이더 -->
        <div class="content-title main-title clear">매거진</div>
        <di class="main-content-magazine">
            <div class="swiper-magazine">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <a href="/"></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/"></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/"></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/"></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/"></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/"></a>
                    </div>
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </di>

        <!-- 지역별 맛집 -->
        <div class="content-title main-title">지역별 맛집</div>
        <di class="main-content-location">
            <div>
                <a href="/" style="background-color:#eee">
                    내주변
                </a>
            </div>
            <div>
                <a href="/" style="background-image: url(/img/main/main1.jpg);">
                    서울
                </a>
            </div>
            <div>
                <a href="/" style="background-image: url(/img/main/main1.jpg);">
                    서울
                </a>
            </div>
            <div>
                <a href="/" style="background-image: url(/img/main/main1.jpg);">
                    서울
                </a>
            </div>
            <div>
                <a href="/" style="background-image: url(/img/main/main1.jpg);">
                    서울
                </a>
            </div>
            <div>
                <a href="/" style="background-image: url(/img/main/main1.jpg);">
                    서울
                </a>
            </div>
            <div>
                <a href="/" style="background-image: url(/img/main/main1.jpg);">
                    서울
                </a>
            </div>
            <div>
                <a href="/" style="background-image: url(/img/main/main1.jpg);">
                    서울
                </a>
            </div>
            <div>
                <a href="/" style="background-image: url(/img/main/main1.jpg);">
                    서울
                </a>
            </div>
            <div>
                <a href="/" style="background-color:#eee">
                   더보기
                </a>
            </div>
        </di>
    </div>
    <script src="/js/main.js"></script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>