<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>메인페이지</title>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="main-slider">
        <div>
            <a href="/"></a>
        </div>
        <div>
            <a href="/"></a>
        </div>
        <div>
            <a href="/"></a>
        </div>
    </div>
    <div class="content-wrap">
        <div class="content-title main-title">맛집 BEST</div>
        <di class="main-content-best">
            <div class="best-box">
                <a href="/">
                    <div class="img-box"></div>
                    <div class="info-box">
                        <span>식당이름</span>
                        <div>
                            <span class="material-icons">grade</span>
                            <span>3.5</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="best-box">
                <a href="/">
                    <div class="img-box"></div>
                    <div class="info-box">
                        <span>식당이름</span>
                        <div>
                            <span class="material-icons">grade</span>
                            <span>3.5</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="best-box">
                <a href="/">
                    <div class="img-box"></div>
                    <div class="info-box">
                        <span>식당이름</span>
                        <div>
                            <span class="material-icons">grade</span>
                            <span>3.5</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="best-box">
                <a href="/">
                    <div class="img-box"></div>
                    <div class="info-box">
                        <span>식당이름</span>
                        <div>
                            <span class="material-icons">grade</span>
                            <span>3.5</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="best-box">
                <a href="/">
                    <div class="img-box"></div>
                    <div class="info-box">
                        <span>식당이름</span>
                        <div>
                            <span class="material-icons">grade</span>
                            <span>3.5</span>
                        </div>
                    </div>
                </a>
            </div>
        </di>
        <div class="content-title main-title clear">매거진</div>
        <di class="main-content-magazine">
            <div class="magazine-slider">
                <div>
                    <a href="/"></a>
                </div>
                <div>
                    <a href="/"></a>
                </div>
                <div>
                    <a href="/"></a>
                </div>
                <div>
                    <a href="/"></a>
                </div>
                <div>
                    <a href="/"></a>
                </div>
                <div>
                    <a href="/"></a>
                </div>
                <div>
                    <a href="/"></a>
                </div>
            </div>
        </di>
        <div class="content-title main-title">지역별 맛집</div>
        <di class="main-content-location">
            
        </di>
    </div>
    <script src="/js/main.js"></script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>