<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>내주변 식당 찾기</title>
<link rel="stylesheet" href="/css/aroundPlace.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="content-wrap">
		<div class="place-wrapper">
			<div class="aroundPlace-title">
				<form action="/location/searchAroundPlace" method="get">
					<div class="search-box">
						<span>현재 보고있는 맛집 지역은</span> 
						<input type="text" name="searchPlace" id="searchPlace" placeholder="검색">
						<button type="submit" id="searchBtn">
							<span class="material-icons">search</span>
						</button>
						<span>입니다</span>
					</div>
				</form>
			</div>
			<div id="map" style="width:100%; height:400px; margin:100px 0;"></div>
			<div class="aroundPlace-content" th:if="${searchList != null}">
				<ul>
					<th:block th:each="searchList : ${searchList}">
						<li class="aroundPlace-list">
							<a th:href="@{/review/detailRestaurant(loNo=${searchList.loNo})}">
								<div class="imgBox">
									<img th:if="${searchList.loCode != 'SEOUL'}" th:src="${searchList.loThumb}">
									<img th:if="${searchList.loCode == 'SEOUL'}" th:src="'/location/'+${searchList.loThumb}" style=height:250px;>
								</div>
								<div class="img-content">
									<span class="material-icons-round">grade</span> 
									<span>평점</span>
									<h2 th:text="${searchList.loTitle}"></h2>
									<div th:text="${searchList.loAddr}"></div>
									<div th:text="${searchList.loMenu}"></div>
								</div>
							</a>
						</li>
					</th:block>				
				</ul>
			</div>
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e951a9675edffd5bbc4faec7164c3441&libraries=services"></script>
	<script>
		var infowindow = new kakao.maps.InfoWindow({zIndex:1});
		
		var mapContainer = document.getElementById('map'), 
		mapOption = {
			center : new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
			level : 3
		// 지도의 확대 레벨
		};

		// 지도를 생성합니다    
		var map = new kakao.maps.Map(mapContainer, mapOption);
		var ps = new kakao.maps.services.Places(); 

		/*
		// 키워드로 장소를 검색합니다
		ps.keywordSearch('홍대 맛집', placesSearchCB); 

		// 키워드 검색 완료 시 호출되는 콜백함수 입니다
		function placesSearchCB (data, status, pagination) {
		    if (status === kakao.maps.services.Status.OK) {

		        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
		        // LatLngBounds 객체에 좌표를 추가합니다
		        var bounds = new kakao.maps.LatLngBounds();

		        for (var i=0; i<data.length; i++) {
		            displayMarker(data[i]);    
		            bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
		        }       

		        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
		        map.setBounds(bounds);
		    } 
		}
		
		// 지도에 마커를 표시하는 함수입니다
		function displayMarker(place) {
		    
		    // 마커를 생성하고 지도에 표시합니다
		    var marker = new kakao.maps.Marker({
		        map: map,
		        position: new kakao.maps.LatLng(place.y, place.x) 
		    });

		    // 마커에 클릭이벤트를 등록합니다
		    kakao.maps.event.addListener(marker, 'click', function() {
		        // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
		        infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
		        infowindow.open(map, marker);
		    });
		}
		*/
	</script>

</body>
</html>