<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>내주변 식당 찾기</title>
<link rel="stylesheet" href="/css/aroundPlace.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="content-wrap">
		<div class="place-wrapper">
			<div class="aroundPlace-title">
				<form action="/location/searchAroundPlace" method="get">
					<div class="search-box">
						<span>현재 보고있는 맛집 지역은</span> 
						<input type="text" name="searchPlace" id="searchPlace" placeholder="검색">
						<button type="submit" id="searchBtn">
							<span class="material-icons">search</span>
						</button>
						<span>입니다</span>
					</div>
				</form>
			</div>
			<div id="map" style="width:100%; height:400px; margin:100px 0;"></div>
			<div class="aroundPlace-content" th:if="${searchList != null}">
				<ul>
					<th:block th:each="searchList : ${searchList}">
						<li class="aroundPlace-list">
							<a th:href="@{/review/detailRestaurant(loNo=${searchList.loNo})}">
								<div class="imgBox">
									<img th:if="${searchList.loCode != 'SEOUL'}" th:src="${searchList.loThumb}">
									<img th:if="${searchList.loCode == 'SEOUL'}" th:src="'/location/'+${searchList.loThumb}" style=height:250px;>
								</div>
								<div class="img-content">
									<span class="material-icons-round">grade</span> 
									<span>평점</span>
									<h2 th:text="${searchList.loTitle}"></h2>
									<div th:text="${searchList.loAddr}"></div>
									<div th:text="${searchList.loMenu}"></div>
								</div>
							</a>
						</li>
					</th:block>				
				</ul>
			</div>
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e951a9675edffd5bbc4faec7164c3441&libraries=services"></script>
	<script th:inline="javascript">
	
		//키워드 없으면 알림보내기
		const searchForm = $(".aroundPlace-title>form");
		$("#searchBtn").on("click",function(){
			if(!searchForm.find("input[name='searchPlace']").val()){
				alert("키워드를 입력하세요");
				return false;
			}
			searchForm.submit();
		});
		
		//지도 띄우기
		const list = [[${searchList}]];
		
		if(list==null){
			var infowindow = new kakao.maps.InfoWindow({zIndex:1});
			var mapContainer = document.getElementById('map'), 
			mapOption = {
				center : new kakao.maps.LatLng(37.533837,126.896836), // 지도의 중심좌표
				level : 4
			};
			// 지도를 생성합니다    
			var map = new kakao.maps.Map(mapContainer, mapOption);
			var ps = new kakao.maps.services.Places();
			
		}else{
			var infowindow = new kakao.maps.InfoWindow({zIndex:1});
			var mapContainer = document.getElementById('map'), 
			mapOption = {
				center : new kakao.maps.LatLng(list[0].loLat,list[0].loLng), // 지도의 중심좌표
				level : 6
			// 지도의 확대 레벨
			};
			// 지도를 생성합니다    
			var map = new kakao.maps.Map(mapContainer, mapOption);
			var ps = new kakao.maps.services.Places();
			
			for(let i=0;i<list.length;i++){
				//마커가 표시될 위치
				var markerPosition  = new kakao.maps.LatLng(list[i].loLat,list[i].loLng);
				//마커 생성
				var marker = new kakao.maps.Marker({
					position: markerPosition,
					clickable: true
				});
				//마커가 지도 위에 표시되도록 설정
				marker.setMap(map);
				
				//인포윈도우생성
				var iwContent = [
					"<div class='marker'>",
		            "<div>"+list[i].loTitle+"</div>",
		            "<div>"+list[i].loAddr+"</div>",
		        	"</div>"
				].join("");
				iwRemoveable = true;
				//인포윈도우 생성
				var infowindow = new kakao.maps.InfoWindow({
				    content : iwContent,
				    removable : iwRemoveable
				});
				
				//마커에 mouseover 이벤트와 mouseout 이벤트를 등록
			    kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
			    kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));

			 	// 인포윈도우를 표시하는 클로저를 만드는 함수입니다 
			    function makeOverListener(map, marker, infowindow) {
			        return function() {
			            infowindow.open(map, marker);
			        };
			    }

			    // 인포윈도우를 닫는 클로저를 만드는 함수입니다 
			    function makeOutListener(infowindow) {
			        return function() {
			            infowindow.close();
			        };
			    }
			}
		}

	</script>

</body>
</html>