<!DOCTYPE html>
<html　xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역별 맛집</title>
    <link rel="stylesheet" href="/css/location.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
    <div class="content-wrap">
        <div class="content-title">지역별 맛집</div>
        <div class="location-btn">
            <div>
                <a href="#" class="btn">서울</a>
            </div>
            <div>
                <a href="#" class="btn">경기도</a>
            </div>
            <div>
                <a href="#" class="btn">인천</a>
            </div>
            <div>
                <a href="#" class="btn">부산</a>
            </div>
            <div>
                <a href="#" class="btn">대구</a>
            </div>
            <div>
                <a href="#" class="btn">김해</a>
            </div>
            <div>
                <a href="#" class="btn">전주</a>
            </div>
            <div>
                <a href="#" class="btn">전남</a>
            </div>
            <div>
                <a href="#" class="btn">충북</a>
            </div>
            <div>
                <a href="#" class="btn">포항</a>
            </div>
            <div>
                <a href="#" class="btn">영주</a>
            </div>
        </div>
        <div class="sub-title clear">
            서울 맛집
        </div>
        <div class="location-map">
            지도영역
        </div>
        <div class="location-content-wrap"> 
            <div class="location-content">
                <a href="#">
                    <div class="location-img-box">
                        <img src="/">
                    </div>
                    <div class="location-content-info">
                        <p>맛집이름</p>
                        <p>맛집설명</p>
                        <div class="star">
                            <span class="material-icons-round">grade</span>
                            <span>4.5</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <th:block th:include="common/footer"></th:block>
</body>
</html>